# Scraping data for Flight price predicition project:

In [1]:
# importing all required libraries for webscraping
import pandas as pd
import numpy as np
import selenium
import time
# importing selenium webdrivers
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from dateutil.relativedelta import relativedelta
# importing exceptions which need to be handled
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import requests
from bs4 import BeautifulSoup
import csv
import linecache
import sys
import warnings
warnings.filterwarnings('ignore')

#Extracting path of webdriver
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")

* You have to scrape at least 1500 rows of data. You can scrape more data as well, it’s up to you, 
More the data better the model
In this section you have to scrape the data of flights from different websites (yatra.com, 
skyscanner.com, official websites of airlines, etc). The number of columns for data doesn’t have 
limit, it’s up to you and your creativity. Generally, these columns are                                                                  
1) airline name,                                                     
2) date of journey,                                                  
3) source,                                                           
4) destination,                                                       
5) meal,                                                            
6) departure time,                                                    
7) arrival time,                                                      
8) duration,                                                           
9) total stops and                                                    
10) the target variable price.                                         
You can make changes to it, you can add or you can remove some columns, it completely
depends on the website from which you are fetching the data.

# Extracting data of flights for 1500 or more rows

# lets scrap data from first website yatra.com
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.makemytrip.com"
driver.get(url)
time.sleep(2)

sou_field=driver.find_element(By.XPATH,"//input[@class='required_field cityPadRight ac_input origin_ac']")
sou_field.send_keys(str(input()))
time.sleep(2)
des_field=driver.find_element(By.XPATH,"//input[@class='required_field cityPadLeft ac_input dest_ac']")
des_field.send_keys(str(input()))
time.sleep(2)
//html/body/div[2]/div/section/div/div/div/section/div/div/div/div/div/div[2]/ul/li/ul/li[1]/div/label/input

,'Chennai','Kolkata','Bengaluru','Hyderabad','Goa','Jaipur','Ahmedabad'

# lets create list of top cities in India
cities=['New Delhi', 'Mumbai']

# lets create list of all columns we need to scrap data for
airline_name=[]
date=[]
source=[]
destination=[]
dep_time=[]
arr_time=[]
duration=[]
total_stops=[]
meal=[]
price=[]

In [2]:
def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,dest,t_date):
    global none
    Url = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ dest +"-"+ t_date +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome(r"C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe") 
        print ("Required URL: " + Url)

        driver.get(Url)  
        print ("page found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'

        
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        print ("Scroll to bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightNo = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightNo  = " + str(len(spanFlightNo)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.find_all("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.find_all("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.find_all("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightNo,t_date,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(t_date," scraping complete")
        
        none =True

In [4]:
#Lists to store scraped data
airlines=[]
travel_date=[]
source=[]
destination=[]
price=[]
dep_time=[]
arr_time=[]
stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airlines', 'Travel_date','From','To','Departure time','Arrival time','Stops','Price'])
flight_data.to_csv('Flightsdata.csv')
 
def transform(spanFlightNo,t_date,City,Time,spanFlightCost,pFlightStops):
    
    airlines.clear()
    travel_date.clear()
    price.clear()
    stops.clear()
    source.clear()
    dep_time.clear()
    destination.clear()
    arr_time.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightNo)):
        
        airlines.append(spanFlightNo[i].string)
        travel_date.append(t_date)
        price.append(spanFlightCost[i].string)
        stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            source.append(City[j].string)
            dep_time.append(Time[j].string)
        else:
            
            destination.append(City[j].string)
            arr_time.append(Time[j].string) 

            
            
    temp = {'Airlines':airlines,
            'Travel_date':travel_date,
            'From':source,
            'To':destination,
            'Departure time':dep_time,
            'Arrival time':arr_time,
            'Stops':stops,
            'Price':price}
    df=pd.DataFrame(temp)
    df.to_csv('Flightsdata.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [5]:
dates=(pd.date_range('03/01/2022','05/31/2022',7))
date_1=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year
    date_1.append(date)
print(date_1)

['01/03/2022', '16/03/2022', '31/03/2022', '15/04/2022', '30/04/2022', '15/05/2022', '31/05/2022']

In [6]:
list_of_dest=['DEL','BOM','PNQ','BLR','GOI','AMD']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        dest=for_to[j]
        none = False
        print("origin = "+orgin)
        print("dest = "+dest+'\n')
        if orgin!=dest:
            for i,date in enumerate(date_1) :
                if none !=True:
                    scrap(orgin,dest,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = DEL
dest = DEL

origin = DEL
dest = BOM

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 89
Time Count in Scraping  = 178
City Count in Scraping  = 179
spanFlightCost Count in Scraping  = 89
pFlightStops Count in Scraping  = 89
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
85,SpiceJet,01/03/2022,New Delhi,Mumbai,07:45,12:25,1 stop via Jabalpur,"₹ 9,630"
86,Vistara,01/03/2022,New Delhi,Mumbai,13:20,18:20,1 stop via Varanasi,"₹ 10,785"
87,IndiGo,01/03/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 10,838"
88,IndiGo,01/03/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 11,153"
89,Vistara,01/03/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 11,423"

Lenght :  90

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 89
Time Count in Scraping  = 178
City Count in Scraping  = 180
spanFlightCost Count in Scraping  = 89
pFlightStops Count in Scraping  = 89
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
174,Vistara,16/03/2022,New Delhi,Mumbai,05:55,11:25,1 stop via Bengaluru,"₹ 6,095"
175,Vistara,16/03/2022,New Delhi,Mumbai,16:05,21:50,1 stop via Bengaluru,"₹ 6,095"
176,Vistara,16/03/2022,New Delhi,Mumbai,17:35,23:25,1 stop via Bengaluru,"₹ 6,095"
177,Vistara,16/03/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 6,263"
178,SpiceJet,16/03/2022,New Delhi,Mumbai,07:45,12:25,1 stop via Jabalpur,"₹ 8,672"

Lenght :  179

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 176
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
261,AirAsia,31/03/2022,New Delhi,Mumbai,18:35,00:35,1 stop via Bengaluru,"₹ 4,748"
262,Vistara,31/03/2022,New Delhi,Mumbai,13:20,18:20,1 stop via Varanasi,"₹ 4,968"
263,Go First,31/03/2022,New Delhi,Mumbai,09:00,13:55,1 stop via Chandigarh,"₹ 5,099"
264,Air India,31/03/2022,New Delhi,Mumbai,10:15,15:40,1 stop via Varanasi,"₹ 5,241"
265,Go First,31/03/2022,New Delhi,Mumbai,16:40,21:20,1 stop via Lucknow,"₹ 5,585"

Lenght :  266

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 175
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
348,Go First,15/04/2022,New Delhi,Mumbai,16:40,21:20,1 stop via Lucknow,"₹ 5,585"
349,Air India,15/04/2022,New Delhi,Mumbai,12:50,19:15,1 stop via Rajkot,"₹ 5,608"
350,AirAsia,15/04/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,830"
351,Vistara,15/04/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 5,948"
352,IndiGo,15/04/2022,New Delhi,Mumbai,19:35,00:15,1 stop via Ahmedabad,"₹ 6,089"

Lenght :  353

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 174
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
435,Go First,30/04/2022,New Delhi,Mumbai,10:20,15:30,1 stop via Varanasi,"₹ 5,394"
436,AirAsia,30/04/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,830"
437,Vistara,30/04/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 5,948"
438,AirAsia,30/04/2022,New Delhi,Mumbai,18:35,00:35,1 stop via Bengaluru,"₹ 6,277"
439,AirAsia,30/04/2022,New Delhi,Mumbai,18:35,00:35,1 stop via Bengaluru,"₹ 6,277"

Lenght :  440

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 86
Time Count in Scraping  = 172
City Count in Scraping  = 173
spanFlightCost Count in Scraping  = 86
pFlightStops Count in Scraping  = 86
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
521,AirAsia,15/05/2022,New Delhi,Mumbai,18:35,00:35,1 stop via Bengaluru,"₹ 6,525"
522,AirAsia,15/05/2022,New Delhi,Mumbai,18:35,00:35,1 stop via Bengaluru,"₹ 6,525"
523,Go First,15/05/2022,New Delhi,Mumbai,16:40,21:20,1 stop via Lucknow,"₹ 6,585"
524,Air India,15/05/2022,New Delhi,Mumbai,10:15,15:40,1 stop via Varanasi,"₹ 6,680"
525,Vistara,15/05/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 6,683"

Lenght :  526

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 174
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
608,Go First,31/05/2022,New Delhi,Mumbai,16:45,21:10,1 stop via Ahmedabad,"₹ 5,608"
609,IndiGo,31/05/2022,New Delhi,Mumbai,19:35,00:15,1 stop via Ahmedabad,"₹ 5,758"
610,Go First,31/05/2022,New Delhi,Mumbai,16:40,21:20,1 stop via Lucknow,"₹ 5,877"
611,Vistara,31/05/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 5,948"
612,Air India,31/05/2022,New Delhi,Mumbai,10:15,15:40,1 stop via Varanasi,"₹ 5,966"

Lenght :  613

-----Skiped-----

origin = DEL
dest = PNQ

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
651,Air India,01/03/2022,New Delhi,Pune,08:40,12:05,1 stop via Bhopal,"₹ 6,795"
652,Vistara,01/03/2022,New Delhi,Pune,14:15,16:20,Non stop,"₹ 7,005"
653,Vistara,01/03/2022,New Delhi,Pune,17:25,19:35,Non stop,"₹ 7,005"
654,Air India,01/03/2022,New Delhi,Pune,04:55,07:00,Non stop,"₹ 7,215"
655,Air India,01/03/2022,New Delhi,Pune,16:00,18:10,Non stop,"₹ 15,720"

Lenght :  656

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 77
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
689,IndiGo,16/03/2022,New Delhi,Pune,09:40,14:55,1 stop via Hyderabad,"₹ 5,955"
690,IndiGo,16/03/2022,New Delhi,Pune,07:55,14:55,1 stop via Hyderabad,"₹ 5,955"
691,IndiGo,16/03/2022,New Delhi,Pune,17:45,23:05,1 stop via Hyderabad,"₹ 5,955"
692,IndiGo,16/03/2022,New Delhi,Pune,18:00,00:40,1 stop via Indore,"₹ 5,955"
693,IndiGo,16/03/2022,New Delhi,Pune,22:15,04:30,1 stop via Ahmedabad,"₹ 5,984"

Lenght :  694

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 79
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
728,IndiGo,31/03/2022,New Delhi,Pune,23:15,05:50,1 stop via Hyderabad,"₹ 4,715"
729,IndiGo,31/03/2022,New Delhi,Pune,22:00,03:40,1 stop via Nagpur,"₹ 5,248"
730,SpiceJet,31/03/2022,New Delhi,Pune,05:45,12:10,1 stop via Ahmedabad,"₹ 5,266"
731,IndiGo,31/03/2022,New Delhi,Pune,13:40,15:40,Non stop,"₹ 5,955"
732,IndiGo,31/03/2022,New Delhi,Pune,23:10,01:10,Non stop,"₹ 6,585"

Lenght :  733

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
765,Vistara,15/04/2022,New Delhi,Pune,20:40,22:55,Non stop,"₹ 6,690"
766,IndiGo,15/04/2022,New Delhi,Pune,19:05,23:50,1 stop via Lucknow,"₹ 6,862"
767,Vistara,15/04/2022,New Delhi,Pune,17:35,19:45,Non stop,"₹ 7,005"
768,IndiGo,15/04/2022,New Delhi,Pune,17:40,23:20,1 stop via Hyderabad,"₹ 7,032"
769,IndiGo,15/04/2022,New Delhi,Pune,21:50,02:55,1 stop via Goa,"₹ 7,072"

Lenght :  770

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
797,IndiGo,30/04/2022,New Delhi,Pune,23:15,05:50,1 stop via Hyderabad,"₹ 6,087"
798,IndiGo,30/04/2022,New Delhi,Pune,21:15,05:50,1 stop via Hyderabad,"₹ 6,087"
799,IndiGo,30/04/2022,New Delhi,Pune,08:55,17:25,1 stop via Chandigarh,"₹ 6,585"
800,IndiGo,30/04/2022,New Delhi,Pune,19:05,23:50,1 stop via Lucknow,"₹ 6,757"
801,IndiGo,30/04/2022,New Delhi,Pune,21:50,02:55,1 stop via Goa,"₹ 7,072"

Lenght :  802

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 79
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
836,IndiGo,15/05/2022,New Delhi,Pune,17:40,23:20,1 stop via Hyderabad,"₹ 6,296"
837,IndiGo,15/05/2022,New Delhi,Pune,00:15,04:15,1 stop via Ahmedabad,"₹ 6,299"
838,SpiceJet,15/05/2022,New Delhi,Pune,05:45,12:10,1 stop via Ahmedabad,"₹ 6,733"
839,IndiGo,15/05/2022,New Delhi,Pune,19:05,23:50,1 stop via Lucknow,"₹ 6,757"
840,IndiGo,15/05/2022,New Delhi,Pune,21:50,02:55,1 stop via Goa,"₹ 7,072"

Lenght :  841

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
876,Vistara,31/05/2022,New Delhi,Pune,20:40,22:55,Non stop,"₹ 4,561"
877,IndiGo,31/05/2022,New Delhi,Pune,17:40,23:20,1 stop via Hyderabad,"₹ 4,715"
878,IndiGo,31/05/2022,New Delhi,Pune,17:40,23:20,1 stop via Hyderabad,"₹ 4,715"
879,IndiGo,31/05/2022,New Delhi,Pune,22:00,03:40,1 stop via Nagpur,"₹ 5,248"
880,IndiGo,31/05/2022,New Delhi,Pune,00:15,04:15,1 stop via Ahmedabad,"₹ 5,949"

Lenght :  881

-----Skiped-----

origin = DEL
dest = BLR

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 135
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
943,Air India,01/03/2022,New Delhi,Bengaluru,17:15,22:15,1 stop via Hyderabad,"₹ 10,680"
944,IndiGo,01/03/2022,New Delhi,Bengaluru,07:00,11:40,1 stop via Raipur,"₹ 10,838"
945,Air India,01/03/2022,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 11,520"
946,IndiGo,01/03/2022,New Delhi,Bengaluru,15:30,18:30,Non stop,"₹ 11,999"
947,Go First,01/03/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 30,222"

Lenght :  948

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 71
Time Count in Scraping  = 142
City Count in Scraping  = 143
spanFlightCost Count in Scraping  = 71
pFlightStops Count in Scraping  = 71
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1014,IndiGo,16/03/2022,New Delhi,Bengaluru,12:55,18:30,1 stop via Hyderabad,"₹ 5,588"
1015,SpiceJet,16/03/2022,New Delhi,Bengaluru,17:00,22:45,1 stop via Jabalpur,"₹ 5,619"
1016,Vistara,16/03/2022,New Delhi,Bengaluru,17:45,22:50,1 stop via Mumbai,"₹ 5,947"
1017,Go First,16/03/2022,New Delhi,Bengaluru,05:35,10:20,1 stop via Ranchi,"₹ 10,672"
1018,Go First,16/03/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 30,222"

Lenght :  1019

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 139
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1083,Air India,31/03/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 5,267"
1084,Vistara,31/03/2022,New Delhi,Bengaluru,06:00,10:45,1 stop via Mumbai,"₹ 5,323"
1085,Vistara,31/03/2022,New Delhi,Bengaluru,06:00,10:45,1 stop via Mumbai,"₹ 5,323"
1086,Go First,31/03/2022,New Delhi,Bengaluru,10:20,14:50,1 stop via Varanasi,"₹ 6,951"
1087,Go First,31/03/2022,New Delhi,Bengaluru,10:40,15:00,1 stop via Goa,"₹ 9,423"

Lenght :  1088

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1153,IndiGo,15/04/2022,New Delhi,Bengaluru,13:50,19:00,1 stop via Vadodara,"₹ 5,805"
1154,Go First,15/04/2022,New Delhi,Bengaluru,14:00,19:05,1 stop via Pune,"₹ 6,037"
1155,Air India,15/04/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 6,107"
1156,Go First,15/04/2022,New Delhi,Bengaluru,10:20,14:50,1 stop via Varanasi,"₹ 6,315"
1157,Go First,15/04/2022,New Delhi,Bengaluru,10:40,15:00,1 stop via Goa,"₹ 8,093"

Lenght :  1158

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1222,Vistara,30/04/2022,New Delhi,Bengaluru,16:45,22:50,1 stop via Mumbai,"₹ 5,772"
1223,Go First,30/04/2022,New Delhi,Bengaluru,14:00,19:05,1 stop via Pune,"₹ 6,037"
1224,IndiGo,30/04/2022,New Delhi,Bengaluru,13:50,19:00,1 stop via Vadodara,"₹ 6,205"
1225,Go First,30/04/2022,New Delhi,Bengaluru,10:20,14:50,1 stop via Varanasi,"₹ 6,315"
1226,Go First,30/04/2022,New Delhi,Bengaluru,10:40,15:00,1 stop via Goa,"₹ 6,315"

Lenght :  1227

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1291,IndiGo,15/05/2022,New Delhi,Bengaluru,13:50,19:00,1 stop via Vadodara,"₹ 6,457"
1292,Vistara,15/05/2022,New Delhi,Bengaluru,11:10,16:00,1 stop via Goa,"₹ 6,507"
1293,Go First,15/05/2022,New Delhi,Bengaluru,10:40,15:00,1 stop via Goa,"₹ 6,951"
1294,Go First,15/05/2022,New Delhi,Bengaluru,10:20,14:50,1 stop via Varanasi,"₹ 8,042"
1295,Vistara,15/05/2022,New Delhi,Bengaluru,14:15,17:05,Non stop,"₹ 8,265"

Lenght :  1296

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 135
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1358,SpiceJet,31/05/2022,New Delhi,Bengaluru,06:15,08:50,Non stop,"₹ 5,982"
1359,Go First,31/05/2022,New Delhi,Bengaluru,10:40,15:00,1 stop via Goa,"₹ 6,315"
1360,SpiceJet,31/05/2022,New Delhi,Bengaluru,16:35,19:45,Non stop,"₹ 6,402"
1361,SpiceJet,31/05/2022,New Delhi,Bengaluru,20:35,23:20,Non stop,"₹ 6,402"
1362,Go First,31/05/2022,New Delhi,Bengaluru,11:45,16:20,1 stop via Varanasi,"₹ 8,042"

Lenght :  1363

-----Skiped-----

origin = DEL
dest = GOI

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 55
Time Count in Scraping  = 110
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 55
pFlightStops Count in Scraping  = 55
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1413,IndiGo,01/03/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 11,599"
1414,Go First,01/03/2022,New Delhi,Goa,10:50,13:30,Non stop,"₹ 12,254"
1415,AirAsia,01/03/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 12,399"
1416,Vistara,01/03/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 14,880"
1417,Air India,01/03/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 18,030"

Lenght :  1418

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 107
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1466,IndiGo,16/03/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 16,035"
1467,IndiGo,16/03/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 16,035"
1468,SpiceJet,16/03/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 16,350"
1469,Air India,16/03/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 16,455"
1470,Vistara,16/03/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 16,770"

Lenght :  1471

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1516,SpiceJet,31/03/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 5,552"
1517,IndiGo,31/03/2022,New Delhi,Goa,13:00,18:20,1 stop via Lucknow,"₹ 5,862"
1518,IndiGo,31/03/2022,New Delhi,Goa,09:50,12:30,Non stop,"₹ 6,008"
1519,Go First,31/03/2022,New Delhi,Goa,10:40,13:20,Non stop,"₹ 6,131"
1520,Vistara,31/03/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 6,230"

Lenght :  1521

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1567,IndiGo,15/04/2022,New Delhi,Goa,12:10,14:50,Non stop,"₹ 7,740"
1568,SpiceJet,15/04/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 7,977"
1569,IndiGo,15/04/2022,New Delhi,Goa,09:50,12:30,Non stop,"₹ 8,318"
1570,Vistara,15/04/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 9,315"
1571,Vistara,15/04/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 10,995"

Lenght :  1572

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1617,IndiGo,30/04/2022,New Delhi,Goa,21:50,02:55,1 stop via Jaipur,"₹ 5,892"
1618,IndiGo,30/04/2022,New Delhi,Goa,07:05,12:40,1 stop via Mumbai,"₹ 5,995"
1619,IndiGo,30/04/2022,New Delhi,Goa,10:45,15:25,1 stop via Mumbai,"₹ 5,995"
1620,IndiGo,30/04/2022,New Delhi,Goa,21:15,01:30,1 stop via Pune,"₹ 6,113"
1621,SpiceJet,30/04/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 6,191"

Lenght :  1622

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1670,IndiGo,15/05/2022,New Delhi,Goa,17:40,23:40,1 stop via Hyderabad,"₹ 5,570"
1671,IndiGo,15/05/2022,New Delhi,Goa,07:05,12:40,1 stop via Mumbai,"₹ 5,624"
1672,IndiGo,15/05/2022,New Delhi,Goa,06:30,12:40,1 stop via Mumbai,"₹ 5,624"
1673,IndiGo,15/05/2022,New Delhi,Goa,21:15,01:30,1 stop via Pune,"₹ 5,720"
1674,IndiGo,15/05/2022,New Delhi,Goa,21:50,02:55,1 stop via Jaipur,"₹ 5,892"

Lenght :  1675

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1719,IndiGo,31/05/2022,New Delhi,Goa,08:20,14:15,1 stop via Bengaluru,"₹ 4,992"
1720,SpiceJet,31/05/2022,New Delhi,Goa,16:20,19:05,Non stop,"₹ 5,037"
1721,Go First,31/05/2022,New Delhi,Goa,08:00,12:45,1 stop via Mumbai,"₹ 5,332"
1722,SpiceJet,31/05/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 5,351"
1723,AirAsia,31/05/2022,New Delhi,Goa,20:00,00:35,1 stop via Mumbai,"₹ 5,397"

Lenght :  1724

-----Skiped-----

origin = DEL
dest = AMD

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 75
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1756,IndiGo,01/03/2022,New Delhi,Ahmedabad,18:30,20:00,Non stop,"₹ 9,315"
1757,IndiGo,01/03/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 9,315"
1758,IndiGo,01/03/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 9,315"
1759,Go First,01/03/2022,New Delhi,Ahmedabad,14:20,19:25,1 stop via Mumbai,"₹ 10,281"
1760,IndiGo,01/03/2022,New Delhi,Ahmedabad,18:00,21:30,1 stop via Indore,"₹ 10,523"

Lenght :  1761

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1792,Vistara,16/03/2022,New Delhi,Ahmedabad,18:20,20:05,Non stop,"₹ 5,693"
1793,IndiGo,16/03/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 5,849"
1794,IndiGo,16/03/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 5,849"
1795,IndiGo,16/03/2022,New Delhi,Ahmedabad,13:45,18:40,1 stop via Lucknow,"₹ 6,485"
1796,IndiGo,16/03/2022,New Delhi,Ahmedabad,18:00,21:30,1 stop via Indore,"₹ 6,485"

Lenght :  1797

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1825,Go First,31/03/2022,New Delhi,Ahmedabad,15:45,20:45,1 stop via Mumbai,"₹ 4,805"
1826,Go First,31/03/2022,New Delhi,Ahmedabad,14:30,20:45,1 stop via Mumbai,"₹ 4,805"
1827,Go First,31/03/2022,New Delhi,Ahmedabad,18:20,23:50,1 stop via Mumbai,"₹ 4,805"
1828,Go First,31/03/2022,New Delhi,Ahmedabad,08:50,16:15,1 stop via Pune,"₹ 5,389"
1829,Go First,31/03/2022,New Delhi,Ahmedabad,12:00,18:10,1 stop via Lucknow,"₹ 5,407"

Lenght :  1830

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1858,Go First,15/04/2022,New Delhi,Ahmedabad,18:20,23:50,1 stop via Mumbai,"₹ 4,565"
1859,Go First,15/04/2022,New Delhi,Ahmedabad,08:50,16:15,1 stop via Pune,"₹ 5,389"
1860,Go First,15/04/2022,New Delhi,Ahmedabad,12:00,18:10,1 stop via Lucknow,"₹ 5,407"
1861,IndiGo,15/04/2022,New Delhi,Ahmedabad,18:00,22:10,1 stop via Indore,"₹ 5,588"
1862,IndiGo,15/04/2022,New Delhi,Ahmedabad,14:50,20:30,1 stop via Chandigarh,"₹ 5,990"

Lenght :  1863

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1888,Air India,30/04/2022,New Delhi,Ahmedabad,10:00,20:00,1 stop via Mumbai,"₹ 4,629"
1889,Go First,30/04/2022,New Delhi,Ahmedabad,08:10,16:15,1 stop via Pune,"₹ 5,389"
1890,IndiGo,30/04/2022,New Delhi,Ahmedabad,18:00,22:10,1 stop via Indore,"₹ 5,492"
1891,IndiGo,30/04/2022,New Delhi,Ahmedabad,14:50,20:30,1 stop via Chandigarh,"₹ 5,745"
1892,IndiGo,30/04/2022,New Delhi,Ahmedabad,13:00,18:15,1 stop via Lucknow,"₹ 6,547"

Lenght :  1893

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1922,Air India,15/05/2022,New Delhi,Ahmedabad,10:00,20:00,1 stop via Mumbai,"₹ 4,723"
1923,IndiGo,15/05/2022,New Delhi,Ahmedabad,18:00,22:10,1 stop via Indore,"₹ 6,008"
1924,IndiGo,15/05/2022,New Delhi,Ahmedabad,14:50,20:30,1 stop via Chandigarh,"₹ 6,218"
1925,Go First,15/05/2022,New Delhi,Ahmedabad,15:45,20:45,1 stop via Mumbai,"₹ 6,235"
1926,IndiGo,15/05/2022,New Delhi,Ahmedabad,13:00,18:15,1 stop via Lucknow,"₹ 6,606"

Lenght :  1927

Required URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
1955,IndiGo,31/05/2022,New Delhi,Ahmedabad,18:00,22:10,1 stop via Indore,"₹ 5,253"
1956,Go First,31/05/2022,New Delhi,Ahmedabad,12:00,18:10,1 stop via Lucknow,"₹ 5,407"
1957,SpiceJet,31/05/2022,New Delhi,Ahmedabad,20:10,21:50,Non stop,"₹ 5,473"
1958,IndiGo,31/05/2022,New Delhi,Ahmedabad,14:50,20:30,1 stop via Chandigarh,"₹ 5,990"
1959,IndiGo,31/05/2022,New Delhi,Ahmedabad,13:00,18:15,1 stop via Lucknow,"₹ 6,173"

Lenght :  1960

-----Skiped-----

--------------
origin = BOM
dest = DEL

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 84
Time Count in Scraping  = 168
City Count in Scraping  = 170
spanFlightCost Count in Scraping  = 84
pFlightStops Count in Scraping  = 84
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2039,IndiGo,01/03/2022,Mumbai,New Delhi,08:55,15:20,1 stop via Jaipur,"₹ 6,430"
2040,IndiGo,01/03/2022,Mumbai,New Delhi,09:00,16:50,1 stop via Udaipur,"₹ 6,430"
2041,SpiceJet,01/03/2022,Mumbai,New Delhi,05:55,10:40,1 stop via Jaipur,"₹ 8,712"
2042,Go First,01/03/2022,Mumbai,New Delhi,18:10,21:55,1 stop via Ahmedabad,"₹ 8,859"
2043,IndiGo,01/03/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 9,377"

Lenght :  2044

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 88
Time Count in Scraping  = 176
City Count in Scraping  = 177
spanFlightCost Count in Scraping  = 88
pFlightStops Count in Scraping  = 88
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2127,Vistara,16/03/2022,Mumbai,New Delhi,12:10,16:20,1 stop via Dehradun,"₹ 5,997"
2128,Vistara,16/03/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 6,068"
2129,IndiGo,16/03/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 6,464"
2130,Vistara,16/03/2022,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 6,679"
2131,AirAsia,16/03/2022,Mumbai,New Delhi,07:20,09:30,Non stop,"₹ 8,848"

Lenght :  2132

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 85
Time Count in Scraping  = 170
City Count in Scraping  = 172
spanFlightCost Count in Scraping  = 85
pFlightStops Count in Scraping  = 85
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2212,Go First,31/03/2022,Mumbai,New Delhi,17:10,22:40,1 stop via Chandigarh,"₹ 4,455"
2213,IndiGo,31/03/2022,Mumbai,New Delhi,16:50,21:00,1 stop via Ahmedabad,"₹ 4,617"
2214,Vistara,31/03/2022,Mumbai,New Delhi,13:20,19:50,1 stop via Varanasi,"₹ 4,894"
2215,IndiGo,31/03/2022,Mumbai,New Delhi,06:05,08:15,Non stop,"₹ 4,931"
2216,Vistara,31/03/2022,Mumbai,New Delhi,17:50,23:55,1 stop via Chennai,"₹ 5,047"

Lenght :  2217

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 86
Time Count in Scraping  = 172
City Count in Scraping  = 172
spanFlightCost Count in Scraping  = 86
pFlightStops Count in Scraping  = 86
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2298,Air India,15/04/2022,Mumbai,New Delhi,17:10,23:45,1 stop via Kochi,"₹ 5,931"
2299,Vistara,15/04/2022,Mumbai,New Delhi,17:50,23:55,1 stop via Chennai,"₹ 6,309"
2300,AirAsia,15/04/2022,Mumbai,New Delhi,21:20,03:20,1 stop via Bengaluru,"₹ 6,316"
2301,Go First,15/04/2022,Mumbai,New Delhi,17:45,23:15,1 stop via Amritsar,"₹ 6,437"
2302,Vistara,15/04/2022,Mumbai,New Delhi,16:00,21:35,1 stop via Bengaluru,"₹ 6,572"

Lenght :  2303

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 85
Time Count in Scraping  = 170
City Count in Scraping  = 170
spanFlightCost Count in Scraping  = 85
pFlightStops Count in Scraping  = 85
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2383,Go First,30/04/2022,Mumbai,New Delhi,17:45,23:15,1 stop via Amritsar,"₹ 6,437"
2384,Vistara,30/04/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 6,488"
2385,Vistara,30/04/2022,Mumbai,New Delhi,07:00,12:40,1 stop via Bengaluru,"₹ 6,572"
2386,Vistara,30/04/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 6,572"
2387,Vistara,30/04/2022,Mumbai,New Delhi,16:00,21:35,1 stop via Bengaluru,"₹ 6,572"

Lenght :  2388

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 82
Time Count in Scraping  = 164
City Count in Scraping  = 165
spanFlightCost Count in Scraping  = 82
pFlightStops Count in Scraping  = 82
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2465,Vistara,15/05/2022,Mumbai,New Delhi,17:50,23:55,1 stop via Chennai,"₹ 6,309"
2466,AirAsia,15/05/2022,Mumbai,New Delhi,21:20,03:20,1 stop via Bengaluru,"₹ 6,316"
2467,Go First,15/05/2022,Mumbai,New Delhi,17:45,23:15,1 stop via Amritsar,"₹ 6,437"
2468,Vistara,15/05/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 6,572"
2469,AirAsia,15/05/2022,Mumbai,New Delhi,07:20,09:30,Non stop,"₹ 9,381"

Lenght :  2470

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 175
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2552,Vistara,31/05/2022,Mumbai,New Delhi,06:20,12:30,1 stop via Hyderabad,"₹ 5,753"
2553,Vistara,31/05/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 5,753"
2554,AirAsia,31/05/2022,Mumbai,New Delhi,04:45,10:55,1 stop via Goa,"₹ 5,830"
2555,Vistara,31/05/2022,Mumbai,New Delhi,12:15,16:45,1 stop via Udaipur,"₹ 6,321"
2556,Vistara,31/05/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 6,572"

Lenght :  2557

-----Skiped-----

origin = BOM
dest = BOM

origin = BOM
dest = PNQ

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2575,Vistara,01/03/2022,Mumbai,Pune,10:25,16:20,1 stop via New Delhi,"₹ 12,558"
2576,Vistara,01/03/2022,Mumbai,Pune,08:45,16:20,1 stop via New Delhi,"₹ 12,558"
2577,Vistara,01/03/2022,Mumbai,Pune,07:30,16:20,1 stop via New Delhi,"₹ 12,558"
2578,Vistara,01/03/2022,Mumbai,Pune,12:25,19:35,1 stop via New Delhi,"₹ 12,558"
2579,Vistara,01/03/2022,Mumbai,Pune,11:55,19:35,1 stop via New Delhi,"₹ 12,558"

Lenght :  2580

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2596,Air India,16/03/2022,Mumbai,Pune,10:00,18:10,1 stop via New Delhi,"₹ 5,709"
2597,Go First,16/03/2022,Mumbai,Pune,09:55,18:40,1 stop via New Delhi,"₹ 5,901"
2598,Go First,16/03/2022,Mumbai,Pune,12:15,18:40,1 stop via New Delhi,"₹ 6,538"
2599,Vistara,16/03/2022,Mumbai,Pune,10:25,16:20,1 stop via New Delhi,"₹ 6,650"
2600,Vistara,16/03/2022,Mumbai,Pune,17:35,22:55,1 stop via New Delhi,"₹ 7,470"

Lenght :  2601

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2618,Vistara,31/03/2022,Mumbai,Pune,15:45,22:55,1 stop via New Delhi,"₹ 5,809"
2619,Go First,31/03/2022,Mumbai,Pune,12:00,15:55,1 stop via Coimbatore,"₹ 5,937"
2620,Go First,31/03/2022,Mumbai,Pune,07:35,14:05,1 stop via Ahmedabad,"₹ 6,025"
2621,Vistara,31/03/2022,Mumbai,Pune,07:30,12:35,1 stop via New Delhi,"₹ 6,209"
2622,Vistara,31/03/2022,Mumbai,Pune,17:35,22:55,1 stop via New Delhi,"₹ 6,209"

Lenght :  2623

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2641,Go First,15/04/2022,Mumbai,Pune,13:50,22:00,1 stop via New Delhi,"₹ 5,792"
2642,Go First,15/04/2022,Mumbai,Pune,12:00,15:55,1 stop via Coimbatore,"₹ 5,937"
2643,Vistara,15/04/2022,Mumbai,Pune,10:25,16:20,1 stop via New Delhi,"₹ 6,010"
2644,Vistara,15/04/2022,Mumbai,Pune,08:45,16:20,1 stop via New Delhi,"₹ 6,410"
2645,Vistara,15/04/2022,Mumbai,Pune,07:30,16:20,1 stop via New Delhi,"₹ 6,410"

Lenght :  2646

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2664,Go First,30/04/2022,Mumbai,Pune,13:50,22:00,1 stop via New Delhi,"₹ 5,792"
2665,Go First,30/04/2022,Mumbai,Pune,12:00,15:55,1 stop via Coimbatore,"₹ 5,937"
2666,Go First,30/04/2022,Mumbai,Pune,05:50,15:45,1 stop via Chennai,"₹ 6,047"
2667,Go First,30/04/2022,Mumbai,Pune,12:10,19:00,1 stop via New Delhi,"₹ 6,749"
2668,Vistara,30/04/2022,Mumbai,Pune,17:35,22:55,1 stop via New Delhi,"₹ 8,828"

Lenght :  2669

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 73
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2700,Go First,15/05/2022,Mumbai,Pune,12:10,22:00,1 stop via New Delhi,"₹ 6,242"
2701,Go First,15/05/2022,Mumbai,Pune,10:10,22:00,1 stop via New Delhi,"₹ 6,242"
2702,Go First,15/05/2022,Mumbai,Pune,08:05,22:00,1 stop via New Delhi,"₹ 6,242"
2703,Go First,15/05/2022,Mumbai,Pune,06:00,22:00,1 stop via New Delhi,"₹ 6,242"
2704,Vistara,15/05/2022,Mumbai,Pune,06:30,12:35,1 stop via New Delhi,"₹ 8,151"

Lenght :  2705

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2722,Go First,31/05/2022,Mumbai,Pune,10:10,16:15,1 stop via New Delhi,"₹ 6,242"
2723,Go First,31/05/2022,Mumbai,Pune,08:05,16:15,1 stop via New Delhi,"₹ 6,242"
2724,Go First,31/05/2022,Mumbai,Pune,12:10,19:00,1 stop via New Delhi,"₹ 6,242"
2725,Go First,31/05/2022,Mumbai,Pune,13:50,22:00,1 stop via New Delhi,"₹ 6,242"
2726,Vistara,31/05/2022,Mumbai,Pune,06:30,12:35,1 stop via New Delhi,"₹ 8,151"

Lenght :  2727

-----Skiped-----

origin = BOM
dest = BLR

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 121
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2782,IndiGo,01/03/2022,Mumbai,Bengaluru,15:15,21:35,1 stop via Hubli,"₹ 6,930"
2783,IndiGo,01/03/2022,Mumbai,Bengaluru,11:05,17:30,1 stop via Mangalore,"₹ 7,387"
2784,IndiGo,01/03/2022,Mumbai,Bengaluru,12:45,18:30,1 stop via Hyderabad,"₹ 7,387"
2785,IndiGo,01/03/2022,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 7,844"
2786,AirAsia,01/03/2022,Mumbai,Bengaluru,04:45,08:40,1 stop via Goa,"₹ 9,201"

Lenght :  2787

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 117
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2840,Go First,16/03/2022,Mumbai,Bengaluru,18:10,23:40,1 stop via Ahmedabad,"₹ 5,102"
2841,IndiGo,16/03/2022,Mumbai,Bengaluru,13:45,19:00,1 stop via Vadodara,"₹ 5,103"
2842,IndiGo,16/03/2022,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 5,560"
2843,IndiGo,16/03/2022,Mumbai,Bengaluru,05:15,09:15,1 stop via Goa,"₹ 6,272"
2844,SpiceJet,16/03/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 9,627"

Lenght :  2845

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 64
Time Count in Scraping  = 128
City Count in Scraping  = 129
spanFlightCost Count in Scraping  = 64
pFlightStops Count in Scraping  = 64
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2904,IndiGo,31/03/2022,Mumbai,Bengaluru,21:30,03:40,1 stop via Goa,"₹ 4,487"
2905,IndiGo,31/03/2022,Mumbai,Bengaluru,07:15,12:10,1 stop via Chennai,"₹ 4,655"
2906,IndiGo,31/03/2022,Mumbai,Bengaluru,15:20,20:00,1 stop via Chennai,"₹ 4,655"
2907,IndiGo,31/03/2022,Mumbai,Bengaluru,10:20,17:15,1 stop via Chennai,"₹ 4,830"
2908,Go First,31/03/2022,Mumbai,Bengaluru,11:30,15:00,1 stop via Goa,"₹ 6,711"

Lenght :  2909

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
2966,IndiGo,15/04/2022,Mumbai,Bengaluru,05:05,09:50,1 stop via Chennai,"₹ 5,681"
2967,Go First,15/04/2022,Mumbai,Bengaluru,11:30,15:00,1 stop via Goa,"₹ 5,907"
2968,IndiGo,15/04/2022,Mumbai,Bengaluru,11:15,16:00,1 stop via Goa,"₹ 6,272"
2969,IndiGo,15/04/2022,Mumbai,Bengaluru,18:45,00:45,1 stop via Mangalore,"₹ 6,363"
2970,Vistara,15/04/2022,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 7,478"

Lenght :  2971

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3028,IndiGo,30/04/2022,Mumbai,Bengaluru,12:25,19:00,1 stop via Vadodara,"₹ 5,736"
3029,Go First,30/04/2022,Mumbai,Bengaluru,19:20,00:15,1 stop via Ahmedabad,"₹ 5,970"
3030,Vistara,30/04/2022,Mumbai,Bengaluru,11:25,16:00,1 stop via Goa,"₹ 6,691"
3031,IndiGo,30/04/2022,Mumbai,Bengaluru,18:45,00:45,1 stop via Mangalore,"₹ 6,783"
3032,Vistara,30/04/2022,Mumbai,Bengaluru,06:00,11:50,1 stop via New Delhi,"₹ 7,026"

Lenght :  3033

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3089,IndiGo,15/05/2022,Mumbai,Bengaluru,15:20,20:00,1 stop via Chennai,"₹ 5,576"
3090,IndiGo,15/05/2022,Mumbai,Bengaluru,16:35,22:00,1 stop via Chennai,"₹ 5,576"
3091,IndiGo,15/05/2022,Mumbai,Bengaluru,13:40,19:00,1 stop via Vadodara,"₹ 5,736"
3092,IndiGo,15/05/2022,Mumbai,Bengaluru,18:45,00:45,1 stop via Mangalore,"₹ 6,146"
3093,Go First,15/05/2022,Mumbai,Bengaluru,19:20,00:15,1 stop via Ahmedabad,"₹ 6,858"

Lenght :  3094

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3150,IndiGo,31/05/2022,Mumbai,Bengaluru,05:05,09:50,1 stop via Chennai,"₹ 5,576"
3151,IndiGo,31/05/2022,Mumbai,Bengaluru,07:15,12:10,1 stop via Chennai,"₹ 5,576"
3152,IndiGo,31/05/2022,Mumbai,Bengaluru,10:20,17:15,1 stop via Chennai,"₹ 5,576"
3153,IndiGo,31/05/2022,Mumbai,Bengaluru,16:35,22:00,1 stop via Chennai,"₹ 5,576"
3154,IndiGo,31/05/2022,Mumbai,Bengaluru,15:20,20:00,1 stop via Chennai,"₹ 5,891"

Lenght :  3155

-----Skiped-----

origin = BOM
dest = GOI

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3193,Air India,01/03/2022,Mumbai,Goa,15:35,00:35,"2 stop via Aurangabad,New Delhi","₹ 12,978"
3194,Vistara,01/03/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 13,083"
3195,Vistara,01/03/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 13,083"
3196,Vistara,01/03/2022,Mumbai,Goa,10:25,21:20,1 stop via New Delhi,"₹ 13,083"
3197,Vistara,01/03/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 13,503"

Lenght :  3198

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 45
Time Count in Scraping  = 90
City Count in Scraping  = 91
spanFlightCost Count in Scraping  = 45
pFlightStops Count in Scraping  = 45
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3238,Vistara,16/03/2022,Mumbai,Goa,08:45,21:20,1 stop via New Delhi,"₹ 13,000"
3239,Air India,16/03/2022,Mumbai,Goa,10:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 13,064"
3240,Vistara,16/03/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 14,028"
3241,Vistara,16/03/2022,Mumbai,Goa,12:15,21:20,"2 stop via Udaipur,New Delhi","₹ 14,879"
3242,Air India,16/03/2022,Mumbai,Goa,18:00,00:35,1 stop via New Delhi,"₹ 17,689"

Lenght :  3243

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3281,Go First,31/03/2022,Mumbai,Goa,12:10,23:05,1 stop via New Delhi,"₹ 6,894"
3282,Air India,31/03/2022,Mumbai,Goa,18:00,00:40,1 stop via New Delhi,"₹ 7,347"
3283,Vistara,31/03/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 7,785"
3284,Vistara,31/03/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 7,785"
3285,Go First,31/03/2022,Mumbai,Goa,06:00,13:20,1 stop via New Delhi,"₹ 8,525"

Lenght :  3286

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3324,Go First,15/04/2022,Mumbai,Goa,23:55,13:20,1 stop via New Delhi,"₹ 7,324"
3325,Go First,15/04/2022,Mumbai,Goa,23:00,13:20,1 stop via New Delhi,"₹ 7,324"
3326,Air India,15/04/2022,Mumbai,Goa,18:00,00:40,1 stop via New Delhi,"₹ 7,347"
3327,Go First,15/04/2022,Mumbai,Goa,06:00,13:20,1 stop via New Delhi,"₹ 8,124"
3328,Vistara,15/04/2022,Mumbai,Goa,06:00,14:05,"2 stop via New Delhi,Bengaluru","₹ 9,771"

Lenght :  3329

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3368,Vistara,30/04/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 7,260"
3369,Air India,30/04/2022,Mumbai,Goa,18:00,00:40,1 stop via New Delhi,"₹ 7,347"
3370,Vistara,30/04/2022,Mumbai,Goa,06:30,13:50,1 stop via New Delhi,"₹ 7,550"
3371,Vistara,30/04/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 7,785"
3372,AirAsia,30/04/2022,Mumbai,Goa,07:20,14:55,1 stop via New Delhi,"₹ 8,077"

Lenght :  3373

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3411,Vistara,15/05/2022,Mumbai,Goa,06:30,13:50,1 stop via New Delhi,"₹ 7,025"
3412,Vistara,15/05/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 7,260"
3413,Vistara,15/05/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 7,785"
3414,Vistara,15/05/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 7,785"
3415,AirAsia,15/05/2022,Mumbai,Goa,22:55,07:50,1 stop via New Delhi,"₹ 8,077"

Lenght :  3416

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3452,Go First,31/05/2022,Mumbai,Goa,13:50,23:05,1 stop via New Delhi,"₹ 6,894"
3453,Vistara,31/05/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 7,260"
3454,Vistara,31/05/2022,Mumbai,Goa,06:30,13:50,1 stop via New Delhi,"₹ 7,550"
3455,Vistara,31/05/2022,Mumbai,Goa,06:00,13:50,1 stop via New Delhi,"₹ 7,550"
3456,Vistara,31/05/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 7,785"

Lenght :  3457

-----Skiped-----

origin = BOM
dest = AMD

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3488,Go First,01/03/2022,Mumbai,Ahmedabad,15:20,22:15,1 stop via Goa,"₹ 12,034"
3489,Go First,01/03/2022,Mumbai,Ahmedabad,13:30,19:40,1 stop via New Delhi,"₹ 12,900"
3490,Go First,01/03/2022,Mumbai,Ahmedabad,12:15,19:40,1 stop via New Delhi,"₹ 12,900"
3491,Vistara,01/03/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 13,556"
3492,Vistara,01/03/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 14,343"

Lenght :  3493

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 73
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3524,Vistara,16/03/2022,Mumbai,Ahmedabad,15:45,22:35,1 stop via New Delhi,"₹ 6,185"
3525,Vistara,16/03/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 6,542"
3526,Vistara,16/03/2022,Mumbai,Ahmedabad,12:25,20:05,1 stop via New Delhi,"₹ 6,542"
3527,Vistara,16/03/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 6,585"
3528,Star Air,16/03/2022,Mumbai,Ahmedabad,12:45,19:05,1 stop via Belgaum,"₹ 6,976"

Lenght :  3529

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3554,Vistara,31/03/2022,Mumbai,Ahmedabad,11:55,20:05,1 stop via New Delhi,"₹ 5,886"
3555,Vistara,31/03/2022,Mumbai,Ahmedabad,15:45,22:35,1 stop via New Delhi,"₹ 5,886"
3556,Go First,31/03/2022,Mumbai,Ahmedabad,15:20,22:05,1 stop via Goa,"₹ 5,989"
3557,Vistara,31/03/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 6,286"
3558,Go First,31/03/2022,Mumbai,Ahmedabad,04:50,12:30,1 stop via Chandigarh,"₹ 6,344"

Lenght :  3559

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 61
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3584,Go First,15/04/2022,Mumbai,Ahmedabad,16:35,22:05,1 stop via Goa,"₹ 5,989"
3585,Vistara,15/04/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 6,185"
3586,Go First,15/04/2022,Mumbai,Ahmedabad,05:45,10:05,1 stop via Jaipur,"₹ 6,190"
3587,Vistara,15/04/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 6,286"
3588,Go First,15/04/2022,Mumbai,Ahmedabad,14:40,20:55,1 stop via Bengaluru,"₹ 6,496"

Lenght :  3589

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 57
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3612,Vistara,30/04/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 6,207"
3613,Vistara,30/04/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 6,332"
3614,Vistara,30/04/2022,Mumbai,Ahmedabad,15:45,22:35,1 stop via New Delhi,"₹ 6,332"
3615,Go First,30/04/2022,Mumbai,Ahmedabad,14:40,20:55,1 stop via Bengaluru,"₹ 6,496"
3616,Star Air,30/04/2022,Mumbai,Ahmedabad,12:45,19:05,1 stop via Belgaum,"₹ 6,976"

Lenght :  3617

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3643,Go First,15/05/2022,Mumbai,Ahmedabad,14:40,20:55,1 stop via Bengaluru,"₹ 6,496"
3644,Go First,15/05/2022,Mumbai,Ahmedabad,22:40,08:40,1 stop via Bengaluru,"₹ 6,496"
3645,Vistara,15/05/2022,Mumbai,Ahmedabad,15:45,22:35,1 stop via New Delhi,"₹ 7,766"
3646,Vistara,15/05/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 8,118"
3647,Vistara,15/05/2022,Mumbai,Ahmedabad,17:35,22:35,1 stop via New Delhi,"₹ 8,166"

Lenght :  3648

Required URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3692,Go First,31/05/2022,Mumbai,Ahmedabad,10:30,22:00,1 stop via Varanasi,"₹ 7,917"
3693,Go First,31/05/2022,Mumbai,Ahmedabad,10:45,18:10,1 stop via Lucknow,"₹ 8,049"
3694,Go First,31/05/2022,Mumbai,Ahmedabad,18:40,09:05,1 stop via Chennai,"₹ 8,092"
3695,Go First,31/05/2022,Mumbai,Ahmedabad,05:00,19:25,1 stop via Kolkata,"₹ 9,225"
3696,Go First,31/05/2022,Mumbai,Ahmedabad,08:40,17:45,1 stop via Chandigarh,"₹ 10,119"

Lenght :  3697

-----Skiped-----

--------------
origin = PNQ
dest = DEL

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3727,IndiGo,01/03/2022,Pune,New Delhi,06:20,11:55,1 stop via Hyderabad,"₹ 7,250"
3728,IndiGo,01/03/2022,Pune,New Delhi,16:00,22:30,1 stop via Raipur,"₹ 7,250"
3729,Go First,01/03/2022,Pune,New Delhi,12:15,14:20,Non stop,"₹ 7,428"
3730,Vistara,01/03/2022,Pune,New Delhi,08:40,10:50,Non stop,"₹ 8,373"
3731,IndiGo,01/03/2022,Pune,New Delhi,12:00,16:25,1 stop via Nagpur,"₹ 8,714"

Lenght :  3732

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 69
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3761,IndiGo,16/03/2022,Pune,New Delhi,23:35,07:15,1 stop via Hyderabad,"₹ 6,903"
3762,Vistara,16/03/2022,Pune,New Delhi,08:40,10:50,Non stop,"₹ 7,008"
3763,IndiGo,16/03/2022,Pune,New Delhi,07:30,09:45,Non stop,"₹ 7,113"
3764,IndiGo,16/03/2022,Pune,New Delhi,14:20,16:30,Non stop,"₹ 7,113"
3765,IndiGo,16/03/2022,Pune,New Delhi,05:00,09:00,1 stop via Ahmedabad,"₹ 8,534"

Lenght :  3766

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 71
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3796,Go First,31/03/2022,Pune,New Delhi,14:40,20:35,1 stop via Ahmedabad,"₹ 5,213"
3797,SpiceJet,31/03/2022,Pune,New Delhi,15:50,21:05,1 stop via Ahmedabad,"₹ 5,213"
3798,IndiGo,31/03/2022,Pune,New Delhi,04:10,09:15,1 stop via Nagpur,"₹ 5,516"
3799,IndiGo,31/03/2022,Pune,New Delhi,04:50,09:25,1 stop via Ahmedabad,"₹ 5,930"
3800,IndiGo,31/03/2022,Pune,New Delhi,13:20,18:00,1 stop via Allahabad,"₹ 5,987"

Lenght :  3801

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3829,IndiGo,15/04/2022,Pune,New Delhi,00:45,08:35,1 stop via Jaipur,"₹ 5,790"
3830,Go First,15/04/2022,Pune,New Delhi,14:40,20:35,1 stop via Ahmedabad,"₹ 5,826"
3831,IndiGo,15/04/2022,Pune,New Delhi,04:50,09:25,1 stop via Ahmedabad,"₹ 5,930"
3832,IndiGo,15/04/2022,Pune,New Delhi,15:15,20:10,1 stop via Hyderabad,"₹ 6,641"
3833,IndiGo,15/04/2022,Pune,New Delhi,03:25,07:50,1 stop via Lucknow,"₹ 7,037"

Lenght :  3834

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3868,AirAsia,30/04/2022,Pune,New Delhi,19:25,01:00,1 stop via Bengaluru,"₹ 6,968"
3869,AirAsia,30/04/2022,Pune,New Delhi,23:50,08:55,1 stop via Bengaluru,"₹ 6,968"
3870,IndiGo,30/04/2022,Pune,New Delhi,03:25,07:50,1 stop via Lucknow,"₹ 7,037"
3871,IndiGo,30/04/2022,Pune,New Delhi,02:35,12:50,1 stop via Amritsar,"₹ 7,402"
3872,SpiceJet,30/04/2022,Pune,New Delhi,18:25,07:45,1 stop via Ahmedabad,"₹ 8,704"

Lenght :  3873

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3900,IndiGo,15/05/2022,Pune,New Delhi,00:45,08:35,1 stop via Jaipur,"₹ 5,790"
3901,IndiGo,15/05/2022,Pune,New Delhi,15:15,20:10,1 stop via Hyderabad,"₹ 6,427"
3902,SpiceJet,15/05/2022,Pune,New Delhi,15:50,21:05,1 stop via Ahmedabad,"₹ 6,604"
3903,IndiGo,15/05/2022,Pune,New Delhi,04:50,09:25,1 stop via Ahmedabad,"₹ 6,875"
3904,IndiGo,15/05/2022,Pune,New Delhi,03:25,07:50,1 stop via Lucknow,"₹ 7,037"

Lenght :  3905

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3934,IndiGo,31/05/2022,Pune,New Delhi,04:10,09:15,1 stop via Nagpur,"₹ 4,910"
3935,IndiGo,31/05/2022,Pune,New Delhi,11:05,17:55,1 stop via Nagpur,"₹ 4,910"
3936,IndiGo,31/05/2022,Pune,New Delhi,04:50,09:25,1 stop via Ahmedabad,"₹ 6,245"
3937,Go First,31/05/2022,Pune,New Delhi,14:40,20:35,1 stop via Ahmedabad,"₹ 6,247"
3938,SpiceJet,31/05/2022,Pune,New Delhi,15:50,21:05,1 stop via Ahmedabad,"₹ 6,604"

Lenght :  3939

-----Skiped-----

origin = PNQ
dest = BOM

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3944,Go First,01/03/2022,Pune,Mumbai,19:10,00:40,1 stop via New Delhi,"₹ 11,705"
3945,Go First,01/03/2022,Pune,Mumbai,22:30,04:15,1 stop via New Delhi,"₹ 11,705"
3946,Vistara,01/03/2022,Pune,Mumbai,05:55,11:10,1 stop via New Delhi,"₹ 11,838"
3947,Air India,01/03/2022,Pune,Mumbai,12:45,20:00,"2 stop via Bhopal,New Delhi","₹ 11,838"
3948,Vistara,01/03/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 12,258"

Lenght :  3949

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3955,Go First,16/03/2022,Pune,Mumbai,22:30,04:15,1 stop via New Delhi,"₹ 5,481"
3956,Go First,16/03/2022,Pune,Mumbai,20:55,04:15,1 stop via New Delhi,"₹ 5,481"
3957,Air India,16/03/2022,Pune,Mumbai,07:40,18:00,"2 stop via New Delhi,Indore","₹ 6,249"
3958,Go First,16/03/2022,Pune,Mumbai,01:10,08:40,1 stop via Ahmedabad,"₹ 6,355"
3959,Vistara,16/03/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 8,471"

Lenght :  3960

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 61
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3985,Go First,31/03/2022,Pune,Mumbai,22:30,10:10,1 stop via New Delhi,"₹ 5,481"
3986,Go First,31/03/2022,Pune,Mumbai,19:30,10:10,1 stop via New Delhi,"₹ 5,481"
3987,Go First,31/03/2022,Pune,Mumbai,22:30,13:10,1 stop via New Delhi,"₹ 5,481"
3988,Go First,31/03/2022,Pune,Mumbai,16:35,21:10,1 stop via Coimbatore,"₹ 6,259"
3989,Vistara,31/03/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 6,830"

Lenght :  3990

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
3999,Go First,15/04/2022,Pune,Mumbai,19:30,01:00,1 stop via New Delhi,"₹ 5,269"
4000,Go First,15/04/2022,Pune,Mumbai,22:30,04:55,1 stop via New Delhi,"₹ 5,269"
4001,Air India,15/04/2022,Pune,Mumbai,15:25,22:15,"2 stop via Nasik,Ahmedabad","₹ 5,843"
4002,Go First,15/04/2022,Pune,Mumbai,16:35,21:10,1 stop via Coimbatore,"₹ 6,259"
4003,Vistara,15/04/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 7,605"

Lenght :  4004

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4018,Go First,30/04/2022,Pune,Mumbai,16:50,23:20,1 stop via New Delhi,"₹ 6,365"
4019,Vistara,30/04/2022,Pune,Mumbai,05:55,11:35,1 stop via New Delhi,"₹ 7,139"
4020,Vistara,30/04/2022,Pune,Mumbai,05:55,11:10,1 stop via New Delhi,"₹ 7,539"
4021,Vistara,30/04/2022,Pune,Mumbai,20:20,11:35,1 stop via New Delhi,"₹ 7,664"
4022,Vistara,30/04/2022,Pune,Mumbai,20:20,11:10,1 stop via New Delhi,"₹ 8,064"

Lenght :  4023

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4049,Go First,15/05/2022,Pune,Mumbai,11:30,22:00,1 stop via New Delhi,"₹ 6,365"
4050,Go First,15/05/2022,Pune,Mumbai,11:30,23:20,1 stop via New Delhi,"₹ 6,365"
4051,Go First,15/05/2022,Pune,Mumbai,11:30,01:00,1 stop via New Delhi,"₹ 6,365"
4052,Vistara,15/05/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 7,664"
4053,Go First,15/05/2022,Pune,Mumbai,11:30,18:00,1 stop via New Delhi,"₹ 8,035"

Lenght :  4054

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4080,Go First,31/05/2022,Pune,Mumbai,22:30,04:55,1 stop via New Delhi,"₹ 6,365"
4081,Go First,31/05/2022,Pune,Mumbai,22:30,08:55,1 stop via New Delhi,"₹ 6,365"
4082,Go First,31/05/2022,Pune,Mumbai,22:30,10:10,1 stop via New Delhi,"₹ 6,365"
4083,Go First,31/05/2022,Pune,Mumbai,22:30,13:10,1 stop via New Delhi,"₹ 6,365"
4084,Vistara,31/05/2022,Pune,Mumbai,16:55,22:00,1 stop via New Delhi,"₹ 7,664"

Lenght :  4085

-----Skiped-----

origin = PNQ
dest = PNQ

origin = PNQ
dest = BLR

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4107,IndiGo,01/03/2022,Pune,Bengaluru,15:35,19:35,1 stop via Hyderabad,"₹ 8,174"
4108,IndiGo,01/03/2022,Pune,Bengaluru,05:45,10:05,1 stop via Chennai,"₹ 9,087"
4109,IndiGo,01/03/2022,Pune,Bengaluru,07:20,08:55,Non stop,"₹ 10,368"
4110,Vistara,01/03/2022,Pune,Bengaluru,16:55,22:40,1 stop via New Delhi,"₹ 11,459"
4111,Air India,01/03/2022,Pune,Bengaluru,12:45,22:15,"3 stop via Bhopal,New Delhi,Hyderabad","₹ 11,799"

Lenght :  4112

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4134,IndiGo,16/03/2022,Pune,Bengaluru,17:45,22:00,1 stop via Chennai,"₹ 5,591"
4135,IndiGo,16/03/2022,Pune,Bengaluru,15:35,19:35,1 stop via Hyderabad,"₹ 5,643"
4136,IndiGo,16/03/2022,Pune,Bengaluru,12:10,17:35,1 stop via Chennai,"₹ 6,114"
4137,Air India,16/03/2022,Pune,Bengaluru,07:40,16:15,1 stop via New Delhi,"₹ 8,620"
4138,Vistara,16/03/2022,Pune,Bengaluru,16:55,22:40,1 stop via New Delhi,"₹ 10,054"

Lenght :  4139

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4160,IndiGo,31/03/2022,Pune,Bengaluru,05:45,09:50,1 stop via Chennai,"₹ 5,099"
4161,IndiGo,31/03/2022,Pune,Bengaluru,17:35,22:00,1 stop via Chennai,"₹ 6,245"
4162,IndiGo,31/03/2022,Pune,Bengaluru,14:45,18:55,1 stop via Chennai,"₹ 6,665"
4163,Vistara,31/03/2022,Pune,Bengaluru,16:55,22:40,1 stop via New Delhi,"₹ 7,169"
4164,Air India,31/03/2022,Pune,Bengaluru,07:40,16:15,1 stop via New Delhi,"₹ 7,443"

Lenght :  4165

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4187,IndiGo,15/04/2022,Pune,Bengaluru,17:35,22:00,1 stop via Chennai,"₹ 6,221"
4188,IndiGo,15/04/2022,Pune,Bengaluru,00:45,08:30,1 stop via Chennai,"₹ 6,326"
4189,IndiGo,15/04/2022,Pune,Bengaluru,05:45,09:50,1 stop via Chennai,"₹ 6,326"
4190,Air India,15/04/2022,Pune,Bengaluru,12:35,22:15,"3 stop via Bhopal,New Delhi,Hyderabad","₹ 6,945"
4191,Vistara,15/04/2022,Pune,Bengaluru,16:55,22:40,1 stop via New Delhi,"₹ 8,414"

Lenght :  4192

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4210,IndiGo,30/04/2022,Pune,Bengaluru,05:45,09:50,1 stop via Chennai,"₹ 6,221"
4211,IndiGo,30/04/2022,Pune,Bengaluru,10:40,15:30,1 stop via Chennai,"₹ 6,221"
4212,IndiGo,30/04/2022,Pune,Bengaluru,17:35,22:00,1 stop via Chennai,"₹ 6,221"
4213,Vistara,30/04/2022,Pune,Bengaluru,05:55,11:50,1 stop via New Delhi,"₹ 8,414"
4214,Air India,30/04/2022,Pune,Bengaluru,07:40,16:15,1 stop via New Delhi,"₹ 8,620"

Lenght :  4215

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4236,IndiGo,15/05/2022,Pune,Bengaluru,05:45,09:50,1 stop via Chennai,"₹ 6,221"
4237,IndiGo,15/05/2022,Pune,Bengaluru,14:45,18:55,1 stop via Chennai,"₹ 6,221"
4238,IndiGo,15/05/2022,Pune,Bengaluru,17:35,22:00,1 stop via Chennai,"₹ 6,221"
4239,Air India,15/05/2022,Pune,Bengaluru,07:40,16:15,1 stop via New Delhi,"₹ 7,255"
4240,Vistara,15/05/2022,Pune,Bengaluru,05:55,11:50,1 stop via New Delhi,"₹ 7,679"

Lenght :  4241

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4262,IndiGo,31/05/2022,Pune,Bengaluru,05:45,09:50,1 stop via Chennai,"₹ 5,949"
4263,IndiGo,31/05/2022,Pune,Bengaluru,14:45,18:55,1 stop via Chennai,"₹ 5,949"
4264,IndiGo,31/05/2022,Pune,Bengaluru,17:35,22:00,1 stop via Chennai,"₹ 5,949"
4265,Go First,31/05/2022,Pune,Bengaluru,16:50,23:25,1 stop via New Delhi,"₹ 6,979"
4266,Vistara,31/05/2022,Pune,Bengaluru,16:55,22:40,1 stop via New Delhi,"₹ 7,738"

Lenght :  4267

-----Skiped-----

origin = PNQ
dest = GOI

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4273,Air India,01/03/2022,Pune,Goa,18:50,17:00,"3 stop via New Delhi,Hyderabad,Mysore","₹ 11,012"
4274,Vistara,01/03/2022,Pune,Goa,05:55,21:20,1 stop via New Delhi,"₹ 11,637"
4275,Air India,01/03/2022,Pune,Goa,12:45,00:35,"2 stop via Bhopal,New Delhi","₹ 13,308"
4276,Go First,01/03/2022,Pune,Goa,12:15,23:10,1 stop via New Delhi,"₹ 14,332"
4277,Air India,01/03/2022,Pune,Goa,12:45,22:25,"3 stop via Bhopal,New Delhi,Mumbai","₹ 15,723"

Lenght :  4278

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4284,Air India,16/03/2022,Pune,Goa,18:50,17:00,"3 stop via New Delhi,Hyderabad,Mysore","₹ 12,090"
4285,Air India,16/03/2022,Pune,Goa,07:40,20:30,"3 stop via New Delhi,Indore,Mumbai","₹ 13,336"
4286,Vistara,16/03/2022,Pune,Goa,05:55,14:05,"2 stop via New Delhi,Bengaluru","₹ 13,565"
4287,Vistara,16/03/2022,Pune,Goa,08:40,21:20,1 stop via New Delhi,"₹ 14,404"
4288,Air India,16/03/2022,Pune,Goa,07:40,13:25,1 stop via New Delhi,"₹ 20,228"

Lenght :  4289

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4302,Air India,31/03/2022,Pune,Goa,15:25,06:20,"3 stop via Nasik,Ahmedabad,Mumbai","₹ 9,465"
4303,Vistara,31/03/2022,Pune,Goa,05:55,13:50,1 stop via New Delhi,"₹ 10,389"
4304,Vistara,31/03/2022,Pune,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 11,489"
4305,Vistara,31/03/2022,Pune,Goa,16:55,12:45,"2 stop via New Delhi,Mumbai","₹ 11,489"
4306,Vistara,31/03/2022,Pune,Goa,16:55,12:45,"2 stop via New Delhi,Mumbai","₹ 11,489"

Lenght :  4307

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4313,Go First,15/04/2022,Pune,Goa,22:30,13:20,1 stop via New Delhi,"₹ 7,409"
4314,Air India,15/04/2022,Pune,Goa,07:40,22:20,"2 stop via New Delhi,Mumbai","₹ 7,761"
4315,Air India,15/04/2022,Pune,Goa,07:40,22:20,"3 stop via New Delhi,Indore,Mumbai","₹ 7,761"
4316,Go First,15/04/2022,Pune,Goa,11:30,23:05,1 stop via New Delhi,"₹ 8,088"
4317,Vistara,15/04/2022,Pune,Goa,05:55,14:05,"2 stop via New Delhi,Bengaluru","₹ 11,160"

Lenght :  4318

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4327,Air India,30/04/2022,Pune,Goa,07:40,22:20,"2 stop via New Delhi,Mumbai","₹ 8,076"
4328,Vistara,30/04/2022,Pune,Goa,05:55,13:50,1 stop via New Delhi,"₹ 8,413"
4329,Vistara,30/04/2022,Pune,Goa,20:20,09:45,1 stop via New Delhi,"₹ 8,413"
4330,Air India,30/04/2022,Pune,Goa,18:50,17:00,"3 stop via New Delhi,Hyderabad,Mysore","₹ 8,863"
4331,Air India,30/04/2022,Pune,Goa,07:40,20:30,"2 stop via New Delhi,Bengaluru","₹ 11,242"

Lenght :  4332

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 33
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4343,Go First,15/05/2022,Pune,Goa,11:30,23:05,1 stop via New Delhi,"₹ 7,863"
4344,Vistara,15/05/2022,Pune,Goa,13:10,21:20,1 stop via New Delhi,"₹ 8,413"
4345,Vistara,15/05/2022,Pune,Goa,16:55,12:45,"2 stop via New Delhi,Mumbai","₹ 8,501"
4346,Vistara,15/05/2022,Pune,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 9,026"
4347,Air India,15/05/2022,Pune,Goa,07:40,20:30,"2 stop via New Delhi,Mumbai","₹ 9,924"

Lenght :  4348

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4357,Go First,31/05/2022,Pune,Goa,16:50,23:05,1 stop via New Delhi,"₹ 6,979"
4358,"IndiGo, AirAsia",31/05/2022,Pune,Goa,01:00,07:00,1 stop via Bengaluru,"₹ 7,298"
4359,"IndiGo, Vistara",31/05/2022,Pune,Goa,07:20,14:05,1 stop via Bengaluru,"₹ 7,298"
4360,Go First,31/05/2022,Pune,Goa,11:30,23:05,1 stop via New Delhi,"₹ 7,863"
4361,Go First,31/05/2022,Pune,Goa,22:30,13:20,1 stop via New Delhi,"₹ 7,863"

Lenght :  4362

-----Skiped-----

origin = PNQ
dest = AMD

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4370,Vistara,01/03/2022,Pune,Ahmedabad,16:55,22:35,1 stop via New Delhi,"₹ 8,457"
4371,SpiceJet,01/03/2022,Pune,Ahmedabad,07:05,08:20,Non stop,"₹ 10,158"
4372,Go First,01/03/2022,Pune,Ahmedabad,01:25,07:30,1 stop via Bengaluru,"₹ 10,893"
4373,Go First,01/03/2022,Pune,Ahmedabad,22:50,07:30,1 stop via Bengaluru,"₹ 10,893"
4374,Air India,01/03/2022,Pune,Ahmedabad,12:45,18:50,"2 stop via Bhopal,New Delhi","₹ 11,628"

Lenght :  4375

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4395,Go First,16/03/2022,Pune,Ahmedabad,22:50,07:30,1 stop via Bengaluru,"₹ 8,462"
4396,Go First,16/03/2022,Pune,Ahmedabad,19:00,07:30,1 stop via Bengaluru,"₹ 8,462"
4397,Air India,16/03/2022,Pune,Ahmedabad,18:50,07:50,1 stop via New Delhi,"₹ 8,468"
4398,Go First,16/03/2022,Pune,Ahmedabad,23:00,07:40,1 stop via Chennai,"₹ 10,790"
4399,Go First,16/03/2022,Pune,Ahmedabad,05:10,19:30,1 stop via Kolkata,"₹ 14,673"

Lenght :  4400

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4417,Go First,31/03/2022,Pune,Ahmedabad,01:30,08:40,1 stop via Bengaluru,"₹ 6,571"
4418,Go First,31/03/2022,Pune,Ahmedabad,22:45,08:40,1 stop via Bengaluru,"₹ 6,832"
4419,Go First,31/03/2022,Pune,Ahmedabad,19:10,08:40,1 stop via Bengaluru,"₹ 6,832"
4420,Go First,31/03/2022,Pune,Ahmedabad,17:30,08:40,1 stop via Bengaluru,"₹ 6,832"
4421,Go First,31/03/2022,Pune,Ahmedabad,11:50,19:25,1 stop via Kolkata,"₹ 9,726"

Lenght :  4422

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4441,Go First,15/04/2022,Pune,Ahmedabad,19:10,08:40,1 stop via Bengaluru,"₹ 7,149"
4442,Go First,15/04/2022,Pune,Ahmedabad,17:30,08:40,1 stop via Bengaluru,"₹ 7,149"
4443,SpiceJet,15/04/2022,Pune,Ahmedabad,18:25,19:50,Non stop,"₹ 7,321"
4444,Air India,15/04/2022,Pune,Ahmedabad,07:40,20:00,"2 stop via New Delhi,Mumbai","₹ 7,981"
4445,Go First,15/04/2022,Pune,Ahmedabad,11:50,19:25,1 stop via Kolkata,"₹ 9,726"

Lenght :  4446

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4461,Go First,30/04/2022,Pune,Ahmedabad,22:45,08:40,1 stop via Bengaluru,"₹ 7,149"
4462,Go First,30/04/2022,Pune,Ahmedabad,19:10,08:40,1 stop via Bengaluru,"₹ 7,149"
4463,Go First,30/04/2022,Pune,Ahmedabad,17:30,08:40,1 stop via Bengaluru,"₹ 7,149"
4464,Air India,30/04/2022,Pune,Ahmedabad,07:40,20:00,"2 stop via New Delhi,Mumbai","₹ 8,401"
4465,Go First,30/04/2022,Pune,Ahmedabad,11:50,19:25,1 stop via Kolkata,"₹ 10,310"

Lenght :  4466

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4483,Go First,15/05/2022,Pune,Ahmedabad,22:45,08:40,1 stop via Bengaluru,"₹ 7,149"
4484,Go First,15/05/2022,Pune,Ahmedabad,19:10,08:40,1 stop via Bengaluru,"₹ 7,149"
4485,Go First,15/05/2022,Pune,Ahmedabad,17:30,08:40,1 stop via Bengaluru,"₹ 7,149"
4486,Go First,15/05/2022,Pune,Ahmedabad,11:45,17:45,1 stop via Chennai,"₹ 8,320"
4487,Go First,15/05/2022,Pune,Ahmedabad,11:50,19:25,1 stop via Kolkata,"₹ 9,726"

Lenght :  4488

Required URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4504,Go First,31/05/2022,Pune,Ahmedabad,22:30,09:00,1 stop via New Delhi,"₹ 6,779"
4505,Go First,31/05/2022,Pune,Ahmedabad,01:30,08:40,1 stop via Bengaluru,"₹ 7,149"
4506,Go First,31/05/2022,Pune,Ahmedabad,22:45,08:40,1 stop via Bengaluru,"₹ 7,149"
4507,Go First,31/05/2022,Pune,Ahmedabad,19:10,08:40,1 stop via Bengaluru,"₹ 7,149"
4508,Go First,31/05/2022,Pune,Ahmedabad,11:50,19:25,1 stop via Kolkata,"₹ 9,726"

Lenght :  4509

-----Skiped-----

--------------
origin = BLR
dest = DEL

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 135
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4571,Vistara,01/03/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,744"
4572,Vistara,01/03/2022,Bengaluru,New Delhi,09:30,14:30,1 stop via Mumbai,"₹ 10,849"
4573,Vistara,01/03/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 10,954"
4574,AirAsia,01/03/2022,Bengaluru,New Delhi,11:20,14:05,Non stop,"₹ 11,582"
4575,Go First,01/03/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 19,510"

Lenght :  4576

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 142
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4641,IndiGo,16/03/2022,Bengaluru,New Delhi,20:15,01:05,1 stop via Hyderabad,"₹ 5,756"
4642,IndiGo,16/03/2022,Bengaluru,New Delhi,19:20,01:05,1 stop via Hyderabad,"₹ 5,756"
4643,AirAsia,16/03/2022,Bengaluru,New Delhi,20:45,01:45,1 stop via Goa,"₹ 6,175"
4644,Go First,16/03/2022,Bengaluru,New Delhi,17:00,21:50,1 stop via Ranchi,"₹ 10,732"
4645,Go First,16/03/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 13,775"

Lenght :  4646

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 137
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4709,Vistara,31/03/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 5,311"
4710,Vistara,31/03/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 5,311"
4711,Vistara,31/03/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 5,311"
4712,Go First,31/03/2022,Bengaluru,New Delhi,04:50,09:25,1 stop via Varanasi,"₹ 7,080"
4713,Go First,31/03/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 7,080"

Lenght :  4714

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 141
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4779,Go First,15/04/2022,Bengaluru,New Delhi,14:55,19:55,1 stop via Lucknow,"₹ 5,831"
4780,Vistara,15/04/2022,Bengaluru,New Delhi,11:30,16:30,1 stop via Chandigarh,"₹ 6,240"
4781,Go First,15/04/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 7,080"
4782,Vistara,15/04/2022,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 8,329"
4783,Go First,15/04/2022,Bengaluru,New Delhi,04:50,09:25,1 stop via Varanasi,"₹ 9,990"

Lenght :  4784

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4848,Go First,30/04/2022,Bengaluru,New Delhi,14:55,19:55,1 stop via Lucknow,"₹ 5,831"
4849,Vistara,30/04/2022,Bengaluru,New Delhi,08:30,14:05,1 stop via Mumbai,"₹ 5,897"
4850,Go First,30/04/2022,Bengaluru,New Delhi,09:20,14:55,1 stop via Patna,"₹ 6,097"
4851,Go First,30/04/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 6,706"
4852,Go First,30/04/2022,Bengaluru,New Delhi,04:50,09:25,1 stop via Varanasi,"₹ 7,080"

Lenght :  4853

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4917,AirAsia,15/05/2022,Bengaluru,New Delhi,18:50,01:00,1 stop via Mumbai,"₹ 5,900"
4918,IndiGo,15/05/2022,Bengaluru,New Delhi,15:20,20:55,1 stop via Jaipur,"₹ 6,240"
4919,Go First,15/05/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 6,706"
4920,SpiceJet,15/05/2022,Bengaluru,New Delhi,20:25,23:25,Non stop,"₹ 6,753"
4921,Go First,15/05/2022,Bengaluru,New Delhi,04:50,09:25,1 stop via Varanasi,"₹ 8,044"

Lenght :  4922

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 139
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
4986,Vistara,31/05/2022,Bengaluru,New Delhi,08:30,14:05,1 stop via Mumbai,"₹ 5,897"
4987,AirAsia,31/05/2022,Bengaluru,New Delhi,18:50,01:00,1 stop via Mumbai,"₹ 5,900"
4988,SpiceJet,31/05/2022,Bengaluru,New Delhi,20:25,23:25,Non stop,"₹ 6,227"
4989,Go First,31/05/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 6,706"
4990,Go First,31/05/2022,Bengaluru,New Delhi,04:50,09:25,1 stop via Varanasi,"₹ 8,044"

Lenght :  4991

-----Skiped-----

origin = BLR
dest = BOM

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 109
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5040,IndiGo,01/03/2022,Bengaluru,Mumbai,21:15,23:15,Non stop,"₹ 6,858"
5041,IndiGo,01/03/2022,Bengaluru,Mumbai,09:50,14:00,1 stop via Kochi,"₹ 7,005"
5042,Vistara,01/03/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"
5043,IndiGo,01/03/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 9,903"
5044,SpiceJet,01/03/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 13,096"

Lenght :  5045

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 113
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5096,AirAsia,16/03/2022,Bengaluru,Mumbai,00:25,06:35,1 stop via New Delhi,"₹ 5,176"
5097,Go First,16/03/2022,Bengaluru,Mumbai,14:00,20:20,1 stop via Kolkata,"₹ 5,177"
5098,Go First,16/03/2022,Bengaluru,Mumbai,21:55,04:15,1 stop via New Delhi,"₹ 5,177"
5099,IndiGo,16/03/2022,Bengaluru,Mumbai,07:20,11:35,1 stop via Mangalore,"₹ 5,178"
5100,IndiGo,16/03/2022,Bengaluru,Mumbai,09:40,14:45,1 stop via Mangalore,"₹ 5,178"

Lenght :  5101

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5157,IndiGo,31/03/2022,Bengaluru,Mumbai,09:30,15:10,1 stop via Chennai,"₹ 4,105"
5158,AirAsia,31/03/2022,Bengaluru,Mumbai,00:45,06:35,1 stop via New Delhi,"₹ 4,190"
5159,Vistara,31/03/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 4,221"
5160,Air India,31/03/2022,Bengaluru,Mumbai,19:00,00:35,1 stop via Goa,"₹ 4,224"
5161,IndiGo,31/03/2022,Bengaluru,Mumbai,07:15,12:05,1 stop via Kochi,"₹ 4,970"

Lenght :  5162

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 119
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5216,IndiGo,15/04/2022,Bengaluru,Mumbai,09:30,15:10,1 stop via Chennai,"₹ 5,651"
5217,IndiGo,15/04/2022,Bengaluru,Mumbai,07:00,11:45,1 stop via Chennai,"₹ 5,756"
5218,IndiGo,15/04/2022,Bengaluru,Mumbai,14:50,20:00,1 stop via Chennai,"₹ 5,756"
5219,IndiGo,15/04/2022,Bengaluru,Mumbai,17:10,21:55,1 stop via Chennai,"₹ 5,756"
5220,IndiGo,15/04/2022,Bengaluru,Mumbai,18:05,23:55,1 stop via Chennai,"₹ 5,756"

Lenght :  5221

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5276,IndiGo,30/04/2022,Bengaluru,Mumbai,14:50,20:00,1 stop via Chennai,"₹ 5,651"
5277,IndiGo,30/04/2022,Bengaluru,Mumbai,17:10,21:55,1 stop via Chennai,"₹ 5,651"
5278,IndiGo,30/04/2022,Bengaluru,Mumbai,18:05,23:55,1 stop via Chennai,"₹ 5,651"
5279,Air India,30/04/2022,Bengaluru,Mumbai,19:00,00:35,1 stop via Goa,"₹ 5,848"
5280,IndiGo,30/04/2022,Bengaluru,Mumbai,07:15,12:05,1 stop via Kochi,"₹ 6,022"

Lenght :  5281

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 118
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5335,IndiGo,15/05/2022,Bengaluru,Mumbai,15:55,20:00,1 stop via Chennai,"₹ 5,651"
5336,IndiGo,15/05/2022,Bengaluru,Mumbai,14:50,20:00,1 stop via Chennai,"₹ 5,651"
5337,IndiGo,15/05/2022,Bengaluru,Mumbai,17:10,21:55,1 stop via Chennai,"₹ 5,651"
5338,IndiGo,15/05/2022,Bengaluru,Mumbai,18:05,23:55,1 stop via Chennai,"₹ 5,651"
5339,IndiGo,15/05/2022,Bengaluru,Mumbai,07:15,12:05,1 stop via Kochi,"₹ 6,022"

Lenght :  5340

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 117
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5393,IndiGo,31/05/2022,Bengaluru,Mumbai,07:00,11:45,1 stop via Chennai,"₹ 5,651"
5394,IndiGo,31/05/2022,Bengaluru,Mumbai,15:55,20:00,1 stop via Chennai,"₹ 5,651"
5395,IndiGo,31/05/2022,Bengaluru,Mumbai,14:50,20:00,1 stop via Chennai,"₹ 5,651"
5396,IndiGo,31/05/2022,Bengaluru,Mumbai,17:10,21:55,1 stop via Chennai,"₹ 5,651"
5397,IndiGo,31/05/2022,Bengaluru,Mumbai,07:15,12:05,1 stop via Kochi,"₹ 6,009"

Lenght :  5398

-----Skiped-----

origin = BLR
dest = PNQ

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 79
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5432,IndiGo,01/03/2022,Bengaluru,Pune,09:20,17:15,1 stop via Chennai,"₹ 6,548"
5433,IndiGo,01/03/2022,Bengaluru,Pune,11:20,17:15,1 stop via Chennai,"₹ 7,462"
5434,IndiGo,01/03/2022,Bengaluru,Pune,18:15,00:05,1 stop via Chennai,"₹ 7,919"
5435,Air India,01/03/2022,Bengaluru,Pune,21:00,06:35,1 stop via New Delhi,"₹ 13,054"
5436,Vistara,01/03/2022,Bengaluru,Pune,09:45,16:20,1 stop via New Delhi,"₹ 13,258"

Lenght :  5437

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5468,IndiGo,16/03/2022,Bengaluru,Pune,18:15,00:05,1 stop via Chennai,"₹ 5,600"
5469,IndiGo,16/03/2022,Bengaluru,Pune,10:55,17:15,1 stop via Chennai,"₹ 5,967"
5470,IndiGo,16/03/2022,Bengaluru,Pune,09:20,17:15,1 stop via Chennai,"₹ 5,967"
5471,Air India,16/03/2022,Bengaluru,Pune,10:25,18:10,1 stop via New Delhi,"₹ 7,421"
5472,Vistara,16/03/2022,Bengaluru,Pune,09:45,16:20,1 stop via New Delhi,"₹ 7,896"

Lenght :  5473

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 75
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5505,IndiGo,31/03/2022,Bengaluru,Pune,08:55,14:45,1 stop via Hyderabad,"₹ 4,771"
5506,IndiGo,31/03/2022,Bengaluru,Pune,07:05,14:45,1 stop via Hyderabad,"₹ 4,771"
5507,IndiGo,31/03/2022,Bengaluru,Pune,18:45,23:20,1 stop via Hyderabad,"₹ 4,771"
5508,Vistara,31/03/2022,Bengaluru,Pune,07:00,12:35,1 stop via New Delhi,"₹ 6,959"
5509,Air India,31/03/2022,Bengaluru,Pune,10:00,18:10,1 stop via New Delhi,"₹ 7,001"

Lenght :  5510

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5541,IndiGo,15/04/2022,Bengaluru,Pune,18:45,23:20,1 stop via Hyderabad,"₹ 6,386"
5542,IndiGo,15/04/2022,Bengaluru,Pune,16:20,23:20,1 stop via Hyderabad,"₹ 6,386"
5543,IndiGo,15/04/2022,Bengaluru,Pune,21:55,05:50,1 stop via Hyderabad,"₹ 6,386"
5544,Air India,15/04/2022,Bengaluru,Pune,10:00,18:10,1 stop via New Delhi,"₹ 7,841"
5545,Vistara,15/04/2022,Bengaluru,Pune,09:45,16:20,1 stop via New Delhi,"₹ 8,097"

Lenght :  5546

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5573,IndiGo,30/04/2022,Bengaluru,Pune,14:50,00:15,1 stop via Chennai,"₹ 5,966"
5574,IndiGo,30/04/2022,Bengaluru,Pune,07:00,17:05,1 stop via Chennai,"₹ 6,071"
5575,Air India,30/04/2022,Bengaluru,Pune,10:00,18:10,1 stop via New Delhi,"₹ 7,421"
5576,Go First,30/04/2022,Bengaluru,Pune,06:30,14:05,1 stop via Ahmedabad,"₹ 7,438"
5577,Vistara,30/04/2022,Bengaluru,Pune,11:30,19:45,1 stop via New Delhi,"₹ 9,950"

Lenght :  5578

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 75
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5610,IndiGo,15/05/2022,Bengaluru,Pune,17:10,00:15,1 stop via Chennai,"₹ 5,966"
5611,IndiGo,15/05/2022,Bengaluru,Pune,15:55,00:15,1 stop via Chennai,"₹ 5,966"
5612,IndiGo,15/05/2022,Bengaluru,Pune,22:45,04:55,1 stop via Chennai,"₹ 5,966"
5613,Air India,15/05/2022,Bengaluru,Pune,10:00,18:10,1 stop via New Delhi,"₹ 7,001"
5614,Vistara,15/05/2022,Bengaluru,Pune,08:00,16:20,1 stop via New Delhi,"₹ 8,097"

Lenght :  5615

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 73
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5646,IndiGo,31/05/2022,Bengaluru,Pune,18:45,23:20,1 stop via Hyderabad,"₹ 4,771"
5647,IndiGo,31/05/2022,Bengaluru,Pune,16:20,23:20,1 stop via Hyderabad,"₹ 4,771"
5648,IndiGo,31/05/2022,Bengaluru,Pune,21:55,05:50,1 stop via Hyderabad,"₹ 4,771"
5649,Air India,31/05/2022,Bengaluru,Pune,10:00,18:10,1 stop via New Delhi,"₹ 7,001"
5650,Vistara,31/05/2022,Bengaluru,Pune,09:45,16:20,1 stop via New Delhi,"₹ 7,362"

Lenght :  5651

-----Skiped-----

origin = BLR
dest = BLR

origin = BLR
dest = GOI

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5679,Air India,01/03/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 10,324"
5680,Go First,01/03/2022,Bengaluru,Goa,08:10,12:45,1 stop via Mumbai,"₹ 13,126"
5681,Go First,01/03/2022,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 13,126"
5682,Vistara,01/03/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 14,787"
5683,Vistara,01/03/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 14,787"

Lenght :  5684

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5714,Vistara,16/03/2022,Bengaluru,Goa,09:45,21:20,1 stop via New Delhi,"₹ 13,427"
5715,Vistara,16/03/2022,Bengaluru,Goa,11:30,21:20,1 stop via New Delhi,"₹ 13,742"
5716,Air India,16/03/2022,Bengaluru,Goa,13:20,22:35,"2 stop via New Delhi,Mumbai","₹ 15,083"
5717,Vistara,16/03/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 15,900"
5718,Vistara,16/03/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 15,900"

Lenght :  5719

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5747,Go First,31/03/2022,Bengaluru,Goa,19:35,06:05,1 stop via Hyderabad,"₹ 6,176"
5748,Go First,31/03/2022,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 6,315"
5749,Go First,31/03/2022,Bengaluru,Goa,08:20,12:45,1 stop via Mumbai,"₹ 6,830"
5750,Vistara,31/03/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 7,342"
5751,Vistara,31/03/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 7,342"

Lenght :  5752

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5779,Go First,15/04/2022,Bengaluru,Goa,08:20,12:45,1 stop via Mumbai,"₹ 5,912"
5780,Go First,15/04/2022,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 5,912"
5781,Vistara,15/04/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 7,693"
5782,Vistara,15/04/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 7,693"
5783,Air India,15/04/2022,Bengaluru,Goa,17:00,00:40,1 stop via New Delhi,"₹ 8,639"

Lenght :  5784

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5809,Air India,30/04/2022,Bengaluru,Goa,09:00,17:00,1 stop via Mysore,"₹ 5,137"
5810,Go First,30/04/2022,Bengaluru,Goa,08:20,12:45,1 stop via Mumbai,"₹ 5,277"
5811,Go First,30/04/2022,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 5,277"
5812,Vistara,30/04/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 6,905"
5813,Vistara,30/04/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 6,905"

Lenght :  5814

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5842,Vistara,15/05/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 4,921"
5843,Vistara,15/05/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 4,921"
5844,Vistara,15/05/2022,Bengaluru,Goa,21:40,12:45,1 stop via Mumbai,"₹ 4,921"
5845,Air India,15/05/2022,Bengaluru,Goa,09:00,17:00,1 stop via Mysore,"₹ 5,137"
5846,Air India,15/05/2022,Bengaluru,Goa,17:00,00:40,1 stop via New Delhi,"₹ 8,114"

Lenght :  5847

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5874,Vistara,31/05/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 4,921"
5875,Vistara,31/05/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 4,921"
5876,Vistara,31/05/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 4,921"
5877,Vistara,31/05/2022,Bengaluru,Goa,21:40,12:45,1 stop via Mumbai,"₹ 4,921"
5878,Air India,31/05/2022,Bengaluru,Goa,06:40,17:00,1 stop via Mysore,"₹ 5,137"

Lenght :  5879

-----Skiped-----

origin = BLR
dest = AMD

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5911,IndiGo,01/03/2022,Bengaluru,Ahmedabad,23:30,07:05,1 stop via Indore,"₹ 6,018"
5912,IndiGo,01/03/2022,Bengaluru,Ahmedabad,21:45,08:00,1 stop via Goa,"₹ 6,018"
5913,SpiceJet,01/03/2022,Bengaluru,Ahmedabad,10:20,08:20,1 stop via Pune,"₹ 6,018"
5914,Air India,01/03/2022,Bengaluru,Ahmedabad,10:25,18:50,1 stop via New Delhi,"₹ 9,277"
5915,Vistara,01/03/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 14,682"

Lenght :  5916

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5951,IndiGo,16/03/2022,Bengaluru,Ahmedabad,23:45,06:55,1 stop via Hyderabad,"₹ 6,018"
5952,IndiGo,16/03/2022,Bengaluru,Ahmedabad,23:00,06:15,1 stop via Pune,"₹ 6,042"
5953,IndiGo,16/03/2022,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 6,281"
5954,IndiGo,16/03/2022,Bengaluru,Ahmedabad,20:55,23:10,Non stop,"₹ 6,281"
5955,IndiGo,16/03/2022,Bengaluru,Ahmedabad,16:20,22:15,1 stop via Hyderabad,"₹ 6,506"

Lenght :  5956

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
5982,IndiGo,31/03/2022,Bengaluru,Ahmedabad,17:45,19:55,Non stop,"₹ 4,863"
5983,Go First,31/03/2022,Bengaluru,Ahmedabad,08:35,13:55,1 stop via Jaipur,"₹ 4,962"
5984,SpiceJet,31/03/2022,Bengaluru,Ahmedabad,10:45,17:25,1 stop via Pune,"₹ 5,251"
5985,IndiGo,31/03/2022,Bengaluru,Ahmedabad,21:40,02:55,1 stop via Goa,"₹ 5,404"
5986,Vistara,31/03/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 6,712"

Lenght :  5987

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6015,IndiGo,15/04/2022,Bengaluru,Ahmedabad,19:40,01:45,1 stop via Mumbai,"₹ 5,034"
6016,"IndiGo, Air India",15/04/2022,Bengaluru,Ahmedabad,12:40,20:00,1 stop via Mumbai,"₹ 5,050"
6017,IndiGo,15/04/2022,Bengaluru,Ahmedabad,18:00,22:10,1 stop via Mumbai,"₹ 5,244"
6018,"IndiGo, Go First",15/04/2022,Bengaluru,Ahmedabad,08:00,14:40,1 stop via Mumbai,"₹ 5,646"
6019,IndiGo,15/04/2022,Bengaluru,Ahmedabad,21:40,02:55,1 stop via Goa,"₹ 6,433"

Lenght :  6020

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6042,IndiGo,30/04/2022,Bengaluru,Ahmedabad,21:40,02:55,1 stop via Goa,"₹ 6,433"
6043,IndiGo,30/04/2022,Bengaluru,Ahmedabad,19:55,02:55,1 stop via Goa,"₹ 6,433"
6044,IndiGo,30/04/2022,Bengaluru,Ahmedabad,15:20,22:35,1 stop via Jaipur,"₹ 6,474"
6045,IndiGo,30/04/2022,Bengaluru,Ahmedabad,17:10,23:50,1 stop via Pune,"₹ 6,987"
6046,Vistara,30/04/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 7,158"

Lenght :  6047

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 69
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6076,IndiGo,15/05/2022,Bengaluru,Ahmedabad,14:50,20:10,1 stop via Chennai,"₹ 6,806"
6077,"Vistara, Go First",15/05/2022,Bengaluru,Ahmedabad,12:45,22:05,1 stop via Goa,"₹ 6,865"
6078,IndiGo,15/05/2022,Bengaluru,Ahmedabad,17:10,23:50,1 stop via Pune,"₹ 6,987"
6079,IndiGo,15/05/2022,Bengaluru,Ahmedabad,23:05,06:05,1 stop via Pune,"₹ 6,987"
6080,"AirAsia, Go First",15/05/2022,Bengaluru,Ahmedabad,05:25,16:30,"2 stop via Goa,Hyderabad","₹ 7,116"

Lenght :  6081

Required URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6108,IndiGo,31/05/2022,Bengaluru,Ahmedabad,14:50,20:10,1 stop via Chennai,"₹ 6,281"
6109,IndiGo,31/05/2022,Bengaluru,Ahmedabad,23:35,07:05,1 stop via Indore,"₹ 6,675"
6110,Go First,31/05/2022,Bengaluru,Ahmedabad,15:45,22:05,1 stop via Goa,"₹ 6,883"
6111,IndiGo,31/05/2022,Bengaluru,Ahmedabad,17:10,23:50,1 stop via Pune,"₹ 6,987"
6112,Vistara,31/05/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 7,368"

Lenght :  6113

-----Skiped-----

--------------
origin = GOI
dest = DEL

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6151,AirAsia,01/03/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 20,541"
6152,IndiGo,01/03/2022,Goa,New Delhi,15:20,17:50,Non stop,"₹ 20,541"
6153,AirAsia,01/03/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"
6154,AirAsia,01/03/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"
6155,Air India,01/03/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 20,542"

Lenght :  6156

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 99
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6200,IndiGo,16/03/2022,Goa,New Delhi,15:20,17:50,Non stop,"₹ 7,626"
6201,IndiGo,16/03/2022,Goa,New Delhi,18:50,21:25,Non stop,"₹ 7,626"
6202,IndiGo,16/03/2022,Goa,New Delhi,13:00,15:35,Non stop,"₹ 9,307"
6203,Vistara,16/03/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 10,252"
6204,AirAsia,16/03/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 13,504"

Lenght :  6205

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6241,Air India,31/03/2022,Goa,New Delhi,06:50,12:20,1 stop via Mumbai,"₹ 4,925"
6242,IndiGo,31/03/2022,Goa,New Delhi,14:05,16:45,Non stop,"₹ 5,054"
6243,IndiGo,31/03/2022,Goa,New Delhi,15:20,18:00,Non stop,"₹ 5,054"
6244,Air India,31/03/2022,Goa,New Delhi,01:15,03:55,Non stop,"₹ 6,315"
6245,Vistara,31/03/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 8,992"

Lenght :  6246

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6281,IndiGo,15/04/2022,Goa,New Delhi,18:10,00:05,1 stop via Hyderabad,"₹ 5,262"
6282,Vistara,15/04/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 5,380"
6283,Air India,15/04/2022,Goa,New Delhi,15:20,20:10,1 stop via Mumbai,"₹ 5,450"
6284,SpiceJet,15/04/2022,Goa,New Delhi,15:00,17:45,Non stop,"₹ 5,524"
6285,Vistara,15/04/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 6,217"

Lenght :  6286

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6319,IndiGo,30/04/2022,Goa,New Delhi,23:25,04:50,1 stop via Mumbai,"₹ 5,228"
6320,Air India,30/04/2022,Goa,New Delhi,15:20,20:10,1 stop via Mumbai,"₹ 5,450"
6321,IndiGo,30/04/2022,Goa,New Delhi,07:10,12:05,1 stop via Hyderabad,"₹ 5,575"
6322,Vistara,30/04/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 5,905"
6323,SpiceJet,30/04/2022,Goa,New Delhi,15:00,17:45,Non stop,"₹ 6,364"

Lenght :  6324

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 89
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6363,Go First,15/05/2022,Goa,New Delhi,17:25,22:55,1 stop via Mumbai,"₹ 5,908"
6364,Go First,15/05/2022,Goa,New Delhi,18:30,23:30,1 stop via Mumbai,"₹ 5,908"
6365,IndiGo,15/05/2022,Goa,New Delhi,03:25,08:35,1 stop via Jaipur,"₹ 6,093"
6366,Vistara,15/05/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 6,168"
6367,SpiceJet,15/05/2022,Goa,New Delhi,15:00,17:45,Non stop,"₹ 6,364"

Lenght :  6368

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6406,IndiGo,31/05/2022,Goa,New Delhi,18:45,00:35,1 stop via Mumbai,"₹ 5,122"
6407,Go First,31/05/2022,Goa,New Delhi,17:25,22:55,1 stop via Mumbai,"₹ 5,384"
6408,Go First,31/05/2022,Goa,New Delhi,18:30,23:30,1 stop via Mumbai,"₹ 5,384"
6409,IndiGo,31/05/2022,Goa,New Delhi,01:20,05:50,1 stop via Ahmedabad,"₹ 5,835"
6410,SpiceJet,31/05/2022,Goa,New Delhi,15:00,17:45,Non stop,"₹ 6,364"

Lenght :  6411

-----Skiped-----

origin = GOI
dest = BOM

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6440,Air India,01/03/2022,Goa,Mumbai,15:20,16:35,Non stop,"₹ 9,832"
6441,Go First,01/03/2022,Goa,Mumbai,20:40,02:00,1 stop via Ahmedabad,"₹ 12,219"
6442,Go First,01/03/2022,Goa,Mumbai,20:40,02:00,1 stop via Ahmedabad,"₹ 12,219"
6443,Vistara,01/03/2022,Goa,Mumbai,14:40,20:45,1 stop via Bengaluru,"₹ 14,925"
6444,Vistara,01/03/2022,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 15,502"

Lenght :  6445

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6471,Vistara,16/03/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 4,897"
6472,Air India,16/03/2022,Goa,Mumbai,21:00,22:25,Non stop,"₹ 5,107"
6473,Air India,16/03/2022,Goa,Mumbai,17:30,23:55,"2 stop via Mysore,Hyderabad","₹ 6,052"
6474,Go First,16/03/2022,Goa,Mumbai,20:40,02:00,1 stop via Ahmedabad,"₹ 6,331"
6475,IndiGo,16/03/2022,Goa,Mumbai,16:30,17:45,Non stop,"₹ 6,471"

Lenght :  6476

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 57
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6499,Vistara,31/03/2022,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 4,395"
6500,Go First,31/03/2022,Goa,Mumbai,13:50,18:15,1 stop via Bengaluru,"₹ 4,422"
6501,Air India,31/03/2022,Goa,Mumbai,17:30,23:50,"2 stop via Mysore,Hyderabad","₹ 4,881"
6502,Vistara,31/03/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 4,897"
6503,Go First,31/03/2022,Goa,Mumbai,20:30,02:00,1 stop via Ahmedabad,"₹ 5,619"

Lenght :  6504

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6537,AirAsia,15/04/2022,Goa,Mumbai,08:20,22:15,1 stop via New Delhi,"₹ 7,887"
6538,AirAsia,15/04/2022,Goa,Mumbai,23:05,06:35,1 stop via New Delhi,"₹ 7,887"
6539,AirAsia,15/04/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 7,887"
6540,Vistara,15/04/2022,Goa,Mumbai,14:30,22:50,1 stop via New Delhi,"₹ 9,899"
6541,Vistara,15/04/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 10,564"

Lenght :  6542

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 75
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6574,AirAsia,30/04/2022,Goa,Mumbai,15:30,22:15,1 stop via New Delhi,"₹ 7,887"
6575,AirAsia,30/04/2022,Goa,Mumbai,23:05,06:35,1 stop via New Delhi,"₹ 7,887"
6576,AirAsia,30/04/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 7,887"
6577,Vistara,30/04/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 8,051"
6578,Vistara,30/04/2022,Goa,Mumbai,21:55,11:10,1 stop via New Delhi,"₹ 8,261"

Lenght :  6579

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6605,Vistara,15/05/2022,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 4,746"
6606,Go First,15/05/2022,Goa,Mumbai,20:30,02:00,1 stop via Ahmedabad,"₹ 5,619"
6607,Air India,15/05/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 6,301"
6608,Go First,15/05/2022,Goa,Mumbai,17:25,01:00,1 stop via New Delhi,"₹ 6,981"
6609,Vistara,15/05/2022,Goa,Mumbai,10:25,16:30,1 stop via New Delhi,"₹ 7,336"

Lenght :  6610

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6645,AirAsia,31/05/2022,Goa,Mumbai,08:20,22:15,1 stop via New Delhi,"₹ 7,887"
6646,Vistara,31/05/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 8,261"
6647,AirAsia,31/05/2022,Goa,Mumbai,15:30,22:15,1 stop via New Delhi,"₹ 8,276"
6648,AirAsia,31/05/2022,Goa,Mumbai,23:05,06:35,1 stop via New Delhi,"₹ 8,276"
6649,AirAsia,31/05/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 8,276"

Lenght :  6650

-----Skiped-----

origin = GOI
dest = PNQ

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6670,Air India,01/03/2022,Goa,Pune,21:00,18:10,"2 stop via Bengaluru,New Delhi","₹ 22,485"
6671,Air India,01/03/2022,Goa,Pune,21:00,18:10,"2 stop via Bengaluru,New Delhi","₹ 22,485"
6672,Vistara,01/03/2022,Goa,Pune,21:55,08:05,1 stop via New Delhi,"₹ 22,537"
6673,Air India,01/03/2022,Goa,Pune,14:10,06:35,1 stop via New Delhi,"₹ 26,107"
6674,Air India,01/03/2022,Goa,Pune,07:05,18:10,"2 stop via Mumbai,New Delhi","₹ 30,727"

Lenght :  6675

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6688,Vistara,16/03/2022,Goa,Pune,14:40,08:05,"2 stop via Bengaluru,New Delhi","₹ 12,234"
6689,Vistara,16/03/2022,Goa,Pune,14:40,08:05,"2 stop via Bengaluru,New Delhi","₹ 12,234"
6690,Air India,16/03/2022,Goa,Pune,14:10,11:30,"3 stop via New Delhi,Ahmedabad,Nasik","₹ 12,972"
6691,Vistara,16/03/2022,Goa,Pune,14:30,22:55,1 stop via New Delhi,"₹ 13,647"
6692,Air India,16/03/2022,Goa,Pune,21:00,18:10,"2 stop via Bengaluru,New Delhi","₹ 14,331"

Lenght :  6693

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6709,Air India,31/03/2022,Goa,Pune,21:00,18:10,"2 stop via Bengaluru,New Delhi","₹ 10,079"
6710,Vistara,31/03/2022,Goa,Pune,13:20,12:35,"2 stop via Mumbai,New Delhi","₹ 10,819"
6711,Vistara,31/03/2022,Goa,Pune,13:20,12:35,"2 stop via Mumbai,New Delhi","₹ 10,819"
6712,Vistara,31/03/2022,Goa,Pune,13:20,22:55,"2 stop via Mumbai,New Delhi","₹ 10,854"
6713,Vistara,31/03/2022,Goa,Pune,14:30,22:55,1 stop via New Delhi,"₹ 11,652"

Lenght :  6714

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6720,"Vistara, AirAsia",15/04/2022,Goa,Pune,14:40,23:20,1 stop via Bengaluru,"₹ 5,450"
6721,"AirAsia, SpiceJet",15/04/2022,Goa,Pune,07:35,12:15,1 stop via Bengaluru,"₹ 5,462"
6722,"SpiceJet, AirAsia",15/04/2022,Goa,Pune,08:10,14:25,1 stop via Bengaluru,"₹ 5,959"
6723,Air India,15/04/2022,Goa,Pune,01:15,07:05,1 stop via New Delhi,"₹ 6,072"
6724,"Go First, IndiGo",15/04/2022,Goa,Pune,13:50,18:35,1 stop via Bengaluru,"₹ 6,203"

Lenght :  6725

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6729,"IndiGo, AirAsia",30/04/2022,Goa,Pune,14:45,23:20,1 stop via Bengaluru,"₹ 5,450"
6730,"Vistara, AirAsia",30/04/2022,Goa,Pune,14:40,23:20,1 stop via Bengaluru,"₹ 5,450"
6731,Air India,30/04/2022,Goa,Pune,01:15,07:05,1 stop via New Delhi,"₹ 6,597"
6732,"Go First, IndiGo",30/04/2022,Goa,Pune,13:50,18:35,1 stop via Bengaluru,"₹ 7,148"
6733,"Vistara, IndiGo",30/04/2022,Goa,Pune,14:40,21:45,1 stop via Bengaluru,"₹ 7,148"

Lenght :  6734

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6742,"AirAsia, SpiceJet",15/05/2022,Goa,Pune,07:35,12:15,1 stop via Bengaluru,"₹ 5,783"
6743,"SpiceJet, Go First",15/05/2022,Goa,Pune,08:10,16:50,1 stop via Bengaluru,"₹ 5,976"
6744,Air India,15/05/2022,Goa,Pune,01:15,07:05,1 stop via New Delhi,"₹ 6,072"
6745,"IndiGo, AirAsia",15/05/2022,Goa,Pune,08:05,14:25,1 stop via Bengaluru,"₹ 7,094"
6746,"Go First, IndiGo",15/05/2022,Goa,Pune,13:50,18:35,1 stop via Bengaluru,"₹ 7,325"

Lenght :  6747

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6754,"AirAsia, SpiceJet",31/05/2022,Goa,Pune,07:35,12:15,1 stop via Bengaluru,"₹ 5,783"
6755,"IndiGo, SpiceJet",31/05/2022,Goa,Pune,02:30,12:15,1 stop via Bengaluru,"₹ 5,783"
6756,Air India,31/05/2022,Goa,Pune,01:15,07:05,1 stop via New Delhi,"₹ 6,072"
6757,"IndiGo, AirAsia",31/05/2022,Goa,Pune,08:05,14:25,1 stop via Bengaluru,"₹ 6,674"
6758,"Go First, IndiGo",31/05/2022,Goa,Pune,13:50,18:35,1 stop via Bengaluru,"₹ 7,148"

Lenght :  6759

-----Skiped-----

origin = GOI
dest = BLR

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6786,Go First,01/03/2022,Goa,Bengaluru,23:45,08:40,1 stop via New Delhi,"₹ 17,469"
6787,Go First,01/03/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 20,409"
6788,Vistara,01/03/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 22,117"
6789,Vistara,01/03/2022,Goa,Bengaluru,21:55,08:40,1 stop via New Delhi,"₹ 24,007"
6790,Air India,01/03/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 27,577"

Lenght :  6791

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 77
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6824,Air India,16/03/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 9,698"
6825,Go First,16/03/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 11,253"
6826,Air India,16/03/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 11,402"
6827,Vistara,16/03/2022,Goa,Bengaluru,21:55,08:40,1 stop via New Delhi,"₹ 11,721"
6828,Vistara,16/03/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 14,363"

Lenght :  6829

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6857,Go First,31/03/2022,Goa,Bengaluru,17:25,08:35,1 stop via New Delhi,"₹ 8,477"
6858,Vistara,31/03/2022,Goa,Bengaluru,21:55,09:00,1 stop via New Delhi,"₹ 8,611"
6859,Air India,31/03/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 10,352"
6860,Air India,31/03/2022,Goa,Bengaluru,15:20,00:05,"2 stop via Mumbai,New Delhi","₹ 10,748"
6861,Vistara,31/03/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 13,103"

Lenght :  6862

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6890,Go First,15/04/2022,Goa,Bengaluru,23:35,08:35,1 stop via New Delhi,"₹ 8,477"
6891,Go First,15/04/2022,Goa,Bengaluru,17:25,08:35,1 stop via New Delhi,"₹ 8,477"
6892,Vistara,15/04/2022,Goa,Bengaluru,21:55,09:00,1 stop via New Delhi,"₹ 8,611"
6893,Air India,15/04/2022,Goa,Bengaluru,15:20,00:05,"2 stop via Mumbai,New Delhi","₹ 9,488"
6894,Vistara,15/04/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 11,721"

Lenght :  6895

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6914,"IndiGo, Go First",30/04/2022,Goa,Bengaluru,02:05,07:05,1 stop via Hyderabad,"₹ 4,572"
6915,"IndiGo, Vistara",30/04/2022,Goa,Bengaluru,14:20,19:30,1 stop via Hyderabad,"₹ 4,572"
6916,"IndiGo, AirAsia",30/04/2022,Goa,Bengaluru,18:10,23:10,1 stop via Hyderabad,"₹ 4,572"
6917,Vistara,30/04/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 4,754"
6918,"AirAsia, IndiGo",30/04/2022,Goa,Bengaluru,20:05,01:00,1 stop via Hyderabad,"₹ 4,833"

Lenght :  6919

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6938,Air India,15/05/2022,Goa,Bengaluru,21:00,22:30,Non stop,"₹ 4,950"
6939,Vistara,15/05/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 5,017"
6940,Vistara,15/05/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 5,017"
6941,Go First,15/05/2022,Goa,Bengaluru,18:30,00:10,1 stop via Mumbai,"₹ 5,342"
6942,Go First,15/05/2022,Goa,Bengaluru,17:25,00:10,1 stop via Mumbai,"₹ 5,342"

Lenght :  6943

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 57
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6966,Go First,31/05/2022,Goa,Bengaluru,18:30,00:10,1 stop via Mumbai,"₹ 4,816"
6967,"Go First, IndiGo",31/05/2022,Goa,Bengaluru,06:35,13:10,1 stop via Hyderabad,"₹ 4,833"
6968,"AirAsia, IndiGo",31/05/2022,Goa,Bengaluru,20:05,01:00,1 stop via Hyderabad,"₹ 4,833"
6969,"IndiGo, AirAsia",31/05/2022,Goa,Bengaluru,18:10,23:10,1 stop via Hyderabad,"₹ 4,887"
6970,Air India,31/05/2022,Goa,Bengaluru,21:00,22:30,Non stop,"₹ 4,950"

Lenght :  6971

-----Skiped-----

origin = GOI
dest = GOI

origin = GOI
dest = AMD

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
6991,Go First,01/03/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 13,580"
6992,IndiGo,01/03/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 13,979"
6993,IndiGo,01/03/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 14,504"
6994,Air India,01/03/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 15,292"
6995,Vistara,01/03/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 22,275"

Lenght :  6996

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7016,IndiGo,16/03/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,773"
7017,IndiGo,16/03/2022,Goa,Ahmedabad,21:45,03:55,1 stop via Bengaluru,"₹ 5,773"
7018,Air India,16/03/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,147"
7019,IndiGo,16/03/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 6,230"
7020,Vistara,16/03/2022,Goa,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 9,588"

Lenght :  7021

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7039,"Go First, IndiGo",31/03/2022,Goa,Ahmedabad,13:15,18:00,1 stop via Mumbai,"₹ 4,742"
7040,Air India,31/03/2022,Goa,Ahmedabad,15:20,20:00,1 stop via Mumbai,"₹ 4,876"
7041,IndiGo,31/03/2022,Goa,Ahmedabad,13:10,18:00,1 stop via Mumbai,"₹ 4,910"
7042,IndiGo,31/03/2022,Goa,Ahmedabad,16:30,20:10,1 stop via Mumbai,"₹ 4,910"
7043,"Vistara, IndiGo",31/03/2022,Goa,Ahmedabad,13:20,18:00,1 stop via Mumbai,"₹ 6,972"

Lenght :  7044

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7059,IndiGo,15/04/2022,Goa,Ahmedabad,02:00,06:05,1 stop via Pune,"₹ 5,655"
7060,IndiGo,15/04/2022,Goa,Ahmedabad,21:45,03:50,1 stop via Bengaluru,"₹ 5,844"
7061,IndiGo,15/04/2022,Goa,Ahmedabad,14:20,20:15,1 stop via Hyderabad,"₹ 6,002"
7062,Vistara,15/04/2022,Goa,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 7,157"
7063,SpiceJet,15/04/2022,Goa,Ahmedabad,14:20,19:50,1 stop via Pune,"₹ 10,880"

Lenght :  7064

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7078,IndiGo,30/04/2022,Goa,Ahmedabad,02:05,08:15,1 stop via Hyderabad,"₹ 5,579"
7079,IndiGo,30/04/2022,Goa,Ahmedabad,02:00,06:05,1 stop via Pune,"₹ 5,655"
7080,IndiGo,30/04/2022,Goa,Ahmedabad,02:30,07:45,1 stop via Bengaluru,"₹ 5,844"
7081,IndiGo,30/04/2022,Goa,Ahmedabad,14:45,19:55,1 stop via Bengaluru,"₹ 5,844"
7082,Vistara,30/04/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 7,472"

Lenght :  7083

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7103,IndiGo,15/05/2022,Goa,Ahmedabad,13:10,18:00,1 stop via Mumbai,"₹ 5,262"
7104,"Vistara, IndiGo",15/05/2022,Goa,Ahmedabad,13:20,18:00,1 stop via Mumbai,"₹ 5,299"
7105,"Go First, IndiGo",15/05/2022,Goa,Ahmedabad,13:15,18:00,1 stop via Mumbai,"₹ 5,409"
7106,IndiGo,15/05/2022,Goa,Ahmedabad,02:00,06:05,1 stop via Pune,"₹ 5,655"
7107,IndiGo,15/05/2022,Goa,Ahmedabad,16:30,20:10,1 stop via Mumbai,"₹ 5,676"

Lenght :  7108

Required URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 47
Time Count in Scraping  = 94
City Count in Scraping  = 95
spanFlightCost Count in Scraping  = 47
pFlightStops Count in Scraping  = 47
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7150,IndiGo,31/05/2022,Goa,Ahmedabad,16:30,22:10,1 stop via Mumbai,"₹ 7,338"
7151,IndiGo,31/05/2022,Goa,Ahmedabad,13:10,22:10,1 stop via Mumbai,"₹ 7,338"
7152,Go First,31/05/2022,Goa,Ahmedabad,23:35,09:00,1 stop via New Delhi,"₹ 7,395"
7153,Go First,31/05/2022,Goa,Ahmedabad,17:25,09:00,1 stop via New Delhi,"₹ 7,395"
7154,IndiGo,31/05/2022,Goa,Ahmedabad,14:20,20:15,1 stop via Hyderabad,"₹ 10,340"

Lenght :  7155

-----Skiped-----

--------------
origin = AMD
dest = DEL

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7185,Air India,01/03/2022,Ahmedabad,New Delhi,08:20,15:55,"3 stop via Nasik,Pune,Bhopal","₹ 10,470"
7186,Go First,01/03/2022,Ahmedabad,New Delhi,06:05,16:55,1 stop via Kolkata,"₹ 11,363"
7187,Air India,01/03/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 13,987"
7188,IndiGo,01/03/2022,Ahmedabad,New Delhi,06:35,15:20,1 stop via Jaipur,"₹ 14,196"
7189,Go First,01/03/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 14,932"

Lenght :  7190

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7211,IndiGo,16/03/2022,Ahmedabad,New Delhi,18:55,00:50,1 stop via Indore,"₹ 5,376"
7212,Vistara,16/03/2022,Ahmedabad,New Delhi,08:25,10:10,Non stop,"₹ 5,640"
7213,Vistara,16/03/2022,Ahmedabad,New Delhi,20:40,22:20,Non stop,"₹ 5,640"
7214,IndiGo,16/03/2022,Ahmedabad,New Delhi,07:20,09:00,Non stop,"₹ 5,723"
7215,Go First,16/03/2022,Ahmedabad,New Delhi,00:35,08:10,1 stop via Mumbai,"₹ 5,934"

Lenght :  7216

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7239,Go First,31/03/2022,Ahmedabad,New Delhi,15:10,21:10,1 stop via Mumbai,"₹ 4,222"
7240,Go First,31/03/2022,Ahmedabad,New Delhi,09:25,14:20,1 stop via Mumbai,"₹ 4,870"
7241,Go First,31/03/2022,Ahmedabad,New Delhi,19:55,01:10,1 stop via Mumbai,"₹ 4,870"
7242,IndiGo,31/03/2022,Ahmedabad,New Delhi,08:10,11:50,1 stop via Dehradun,"₹ 4,927"
7243,IndiGo,31/03/2022,Ahmedabad,New Delhi,08:25,14:00,1 stop via Lucknow,"₹ 5,032"

Lenght :  7244

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7266,Go First,15/04/2022,Ahmedabad,New Delhi,15:10,21:10,1 stop via Mumbai,"₹ 5,368"
7267,Go First,15/04/2022,Ahmedabad,New Delhi,12:45,19:00,1 stop via Pune,"₹ 5,389"
7268,Go First,15/04/2022,Ahmedabad,New Delhi,13:40,19:55,1 stop via Lucknow,"₹ 5,557"
7269,Vistara,15/04/2022,Ahmedabad,New Delhi,06:45,08:20,Non stop,"₹ 5,640"
7270,Air India,15/04/2022,Ahmedabad,New Delhi,18:45,21:00,Non stop,"₹ 5,955"

Lenght :  7271

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7291,Go First,30/04/2022,Ahmedabad,New Delhi,19:55,01:10,1 stop via Mumbai,"₹ 4,870"
7292,Go First,30/04/2022,Ahmedabad,New Delhi,09:25,14:20,1 stop via Mumbai,"₹ 5,060"
7293,Go First,30/04/2022,Ahmedabad,New Delhi,13:40,19:55,1 stop via Lucknow,"₹ 5,557"
7294,Go First,30/04/2022,Ahmedabad,New Delhi,17:40,23:45,1 stop via Varanasi,"₹ 5,846"
7295,IndiGo,30/04/2022,Ahmedabad,New Delhi,08:25,14:00,1 stop via Lucknow,"₹ 6,455"

Lenght :  7296

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7324,IndiGo,15/05/2022,Ahmedabad,New Delhi,08:25,14:00,1 stop via Lucknow,"₹ 7,085"
7325,Go First,15/05/2022,Ahmedabad,New Delhi,18:15,02:20,1 stop via Goa,"₹ 7,816"
7326,Go First,15/05/2022,Ahmedabad,New Delhi,06:00,16:50,1 stop via Kolkata,"₹ 8,823"
7327,Go First,15/05/2022,Ahmedabad,New Delhi,09:10,23:45,1 stop via Bengaluru,"₹ 9,192"
7328,Go First,15/05/2022,Ahmedabad,New Delhi,21:45,10:40,1 stop via Bengaluru,"₹ 9,869"

Lenght :  7329

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7382,Go First,31/05/2022,Ahmedabad,New Delhi,18:15,02:20,1 stop via Goa,"₹ 7,816"
7383,IndiGo,31/05/2022,Ahmedabad,New Delhi,06:15,15:15,1 stop via Jaipur,"₹ 8,169"
7384,Go First,31/05/2022,Ahmedabad,New Delhi,06:00,16:50,1 stop via Kolkata,"₹ 8,503"
7385,Go First,31/05/2022,Ahmedabad,New Delhi,09:10,23:45,1 stop via Bengaluru,"₹ 9,192"
7386,Go First,31/05/2022,Ahmedabad,New Delhi,21:45,10:40,1 stop via Bengaluru,"₹ 9,869"

Lenght :  7387

-----Skiped-----

origin = AMD
dest = BOM

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7408,Air India,01/03/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 13,882"
7409,Air India,01/03/2022,Ahmedabad,Mumbai,18:00,09:05,1 stop via New Delhi,"₹ 14,145"
7410,Air India,01/03/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 16,035"
7411,Go First,01/03/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 16,189"
7412,Air India,01/03/2022,Ahmedabad,Mumbai,18:00,08:20,"2 stop via New Delhi,Goa","₹ 19,920"

Lenght :  7413

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7433,Go First,16/03/2022,Ahmedabad,Mumbai,08:10,16:35,1 stop via New Delhi,"₹ 7,573"
7434,Go First,16/03/2022,Ahmedabad,Mumbai,18:35,01:20,1 stop via Goa,"₹ 9,325"
7435,Go First,16/03/2022,Ahmedabad,Mumbai,06:05,20:20,1 stop via Kolkata,"₹ 9,950"
7436,Go First,16/03/2022,Ahmedabad,Mumbai,22:55,06:50,1 stop via Chennai,"₹ 9,952"
7437,Go First,16/03/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 9,972"

Lenght :  7438

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7453,Go First,31/03/2022,Ahmedabad,Mumbai,18:55,04:55,1 stop via New Delhi,"₹ 4,961"
7454,Go First,31/03/2022,Ahmedabad,Mumbai,18:15,01:10,1 stop via Goa,"₹ 5,316"
7455,Go First,31/03/2022,Ahmedabad,Mumbai,15:10,22:15,1 stop via Kochi,"₹ 5,892"
7456,Vistara,31/03/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 6,365"
7457,Vistara,31/03/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 6,365"

Lenght :  7458

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7472,Go First,15/04/2022,Ahmedabad,Mumbai,18:55,01:00,1 stop via New Delhi,"₹ 5,576"
7473,Go First,15/04/2022,Ahmedabad,Mumbai,22:20,04:55,1 stop via New Delhi,"₹ 5,576"
7474,Go First,15/04/2022,Ahmedabad,Mumbai,09:10,18:15,1 stop via Bengaluru,"₹ 5,879"
7475,Go First,15/04/2022,Ahmedabad,Mumbai,15:10,22:15,1 stop via Kochi,"₹ 6,333"
7476,Vistara,15/04/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 6,491"

Lenght :  7477

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7502,Vistara,30/04/2022,Ahmedabad,Mumbai,20:40,11:10,1 stop via New Delhi,"₹ 6,766"
7503,Go First,30/04/2022,Ahmedabad,Mumbai,13:40,21:20,1 stop via Lucknow,"₹ 7,203"
7504,Go First,30/04/2022,Ahmedabad,Mumbai,22:40,06:50,1 stop via Chennai,"₹ 7,464"
7505,Go First,30/04/2022,Ahmedabad,Mumbai,09:45,22:30,1 stop via Chandigarh,"₹ 7,759"
7506,Go First,30/04/2022,Ahmedabad,Mumbai,06:00,20:20,1 stop via Kolkata,"₹ 8,326"

Lenght :  7507

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7521,"IndiGo, Go First",15/05/2022,Ahmedabad,Mumbai,04:15,10:10,1 stop via New Delhi,"₹ 5,844"
7522,"IndiGo, Go First",15/05/2022,Ahmedabad,Mumbai,18:35,01:00,1 stop via New Delhi,"₹ 5,909"
7523,"SpiceJet, IndiGo",15/05/2022,Ahmedabad,Mumbai,19:15,01:35,1 stop via New Delhi,"₹ 6,322"
7524,"IndiGo, Air India",15/05/2022,Ahmedabad,Mumbai,06:05,12:05,1 stop via New Delhi,"₹ 6,645"
7525,Vistara,15/05/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 7,182"

Lenght :  7526

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7541,Go First,31/05/2022,Ahmedabad,Mumbai,22:20,04:55,1 stop via New Delhi,"₹ 5,785"
7542,Go First,31/05/2022,Ahmedabad,Mumbai,15:10,22:15,1 stop via Kochi,"₹ 6,333"
7543,Go First,31/05/2022,Ahmedabad,Mumbai,09:30,16:40,1 stop via New Delhi,"₹ 6,731"
7544,Vistara,31/05/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 7,182"
7545,Vistara,31/05/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 7,182"

Lenght :  7546

-----Skiped-----

origin = AMD
dest = PNQ

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7560,Air India,01/03/2022,Ahmedabad,Pune,21:00,06:35,1 stop via New Delhi,"₹ 13,147"
7561,IndiGo,01/03/2022,Ahmedabad,Pune,21:20,02:55,1 stop via Goa,"₹ 13,724"
7562,Air India,01/03/2022,Ahmedabad,Pune,22:20,06:35,1 stop via New Delhi,"₹ 13,882"
7563,Air India,01/03/2022,Ahmedabad,Pune,18:00,06:35,1 stop via New Delhi,"₹ 14,145"
7564,Air India,01/03/2022,Ahmedabad,Pune,19:35,06:35,"2 stop via Mumbai,New Delhi","₹ 19,552"

Lenght :  7565

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7579,Air India,16/03/2022,Ahmedabad,Pune,18:45,07:00,1 stop via New Delhi,"₹ 6,919"
7580,Go First,16/03/2022,Ahmedabad,Pune,08:10,18:40,1 stop via New Delhi,"₹ 6,941"
7581,IndiGo,16/03/2022,Ahmedabad,Pune,21:20,02:55,1 stop via Goa,"₹ 7,670"
7582,Go First,16/03/2022,Ahmedabad,Pune,08:00,18:15,1 stop via Bengaluru,"₹ 8,195"
7583,Go First,16/03/2022,Ahmedabad,Pune,21:30,07:10,1 stop via Bengaluru,"₹ 8,195"

Lenght :  7584

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 33
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7595,Go First,31/03/2022,Ahmedabad,Pune,09:30,16:15,1 stop via New Delhi,"₹ 4,959"
7596,Go First,31/03/2022,Ahmedabad,Pune,22:20,10:55,1 stop via New Delhi,"₹ 4,959"
7597,Go First,31/03/2022,Ahmedabad,Pune,21:45,06:45,1 stop via Bengaluru,"₹ 7,540"
7598,Air India,31/03/2022,Ahmedabad,Pune,21:00,12:05,"2 stop via Mumbai,Bhopal","₹ 7,541"
7599,Go First,31/03/2022,Ahmedabad,Pune,09:10,16:50,1 stop via Bengaluru,"₹ 8,214"

Lenght :  7600

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 35
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7612,Go First,15/04/2022,Ahmedabad,Pune,09:30,16:15,1 stop via New Delhi,"₹ 6,422"
7613,IndiGo,15/04/2022,Ahmedabad,Pune,23:15,02:55,1 stop via Goa,"₹ 6,584"
7614,IndiGo,15/04/2022,Ahmedabad,Pune,18:35,02:55,1 stop via Goa,"₹ 6,794"
7615,Air India,15/04/2022,Ahmedabad,Pune,21:00,18:10,"3 stop via Mumbai,Indore,New Delhi","₹ 7,190"
7616,Air India,15/04/2022,Ahmedabad,Pune,18:45,07:05,1 stop via New Delhi,"₹ 8,044"

Lenght :  7617

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7626,IndiGo,30/04/2022,Ahmedabad,Pune,18:35,02:55,1 stop via Goa,"₹ 6,794"
7627,Go First,30/04/2022,Ahmedabad,Pune,09:30,16:15,1 stop via New Delhi,"₹ 6,843"
7628,Go First,30/04/2022,Ahmedabad,Pune,09:10,16:50,1 stop via Bengaluru,"₹ 6,861"
7629,Go First,30/04/2022,Ahmedabad,Pune,21:45,06:45,1 stop via Bengaluru,"₹ 6,861"
7630,SpiceJet,30/04/2022,Ahmedabad,Pune,16:20,17:45,Non stop,"₹ 12,333"

Lenght :  7631

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7638,IndiGo,15/05/2022,Ahmedabad,Pune,23:15,02:55,1 stop via Goa,"₹ 6,794"
7639,IndiGo,15/05/2022,Ahmedabad,Pune,18:35,02:55,1 stop via Goa,"₹ 6,794"
7640,Go First,15/05/2022,Ahmedabad,Pune,09:10,16:50,1 stop via Bengaluru,"₹ 7,540"
7641,Go First,15/05/2022,Ahmedabad,Pune,21:45,06:45,1 stop via Bengaluru,"₹ 7,540"
7642,Go First,15/05/2022,Ahmedabad,Pune,09:30,16:15,1 stop via New Delhi,"₹ 8,724"

Lenght :  7643

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7658,Go First,31/05/2022,Ahmedabad,Pune,21:45,06:45,1 stop via Bengaluru,"₹ 7,540"
7659,Go First,31/05/2022,Ahmedabad,Pune,09:30,16:15,1 stop via New Delhi,"₹ 7,789"
7660,Go First,31/05/2022,Ahmedabad,Pune,09:30,19:00,1 stop via New Delhi,"₹ 7,789"
7661,Go First,31/05/2022,Ahmedabad,Pune,09:30,22:00,1 stop via New Delhi,"₹ 7,789"
7662,Go First,31/05/2022,Ahmedabad,Pune,09:10,18:40,1 stop via Bengaluru,"₹ 8,032"

Lenght :  7663

-----Skiped-----

origin = AMD
dest = BLR

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7684,IndiGo,01/03/2022,Ahmedabad,Bengaluru,22:00,06:40,1 stop via Mumbai,"₹ 7,366"
7685,Go First,01/03/2022,Ahmedabad,Bengaluru,20:05,00:15,1 stop via Mumbai,"₹ 8,812"
7686,IndiGo,01/03/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 9,807"
7687,Vistara,01/03/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 11,579"
7688,Air India,01/03/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 12,741"

Lenght :  7689

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7712,SpiceJet,16/03/2022,Ahmedabad,Bengaluru,05:05,16:50,1 stop via Pune,"₹ 6,763"
7713,SpiceJet,16/03/2022,Ahmedabad,Bengaluru,05:05,16:50,1 stop via Pune,"₹ 6,763"
7714,"IndiGo, AirAsia",16/03/2022,Ahmedabad,Bengaluru,08:40,14:45,1 stop via Mumbai,"₹ 7,081"
7715,IndiGo,16/03/2022,Ahmedabad,Bengaluru,18:45,22:50,1 stop via Hyderabad,"₹ 7,476"
7716,Vistara,16/03/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 7,766"

Lenght :  7717

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 59
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7741,IndiGo,31/03/2022,Ahmedabad,Bengaluru,22:50,01:00,Non stop,"₹ 5,901"
7742,Go First,31/03/2022,Ahmedabad,Bengaluru,09:10,11:25,Non stop,"₹ 5,922"
7743,Vistara,31/03/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 6,913"
7744,IndiGo,31/03/2022,Ahmedabad,Bengaluru,08:25,10:35,Non stop,"₹ 15,561"
7745,IndiGo,31/03/2022,Ahmedabad,Bengaluru,20:35,22:55,Non stop,"₹ 17,661"

Lenght :  7746

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7765,IndiGo,15/04/2022,Ahmedabad,Bengaluru,18:30,00:05,1 stop via Mumbai,"₹ 5,863"
7766,IndiGo,15/04/2022,Ahmedabad,Bengaluru,23:15,03:40,1 stop via Goa,"₹ 5,967"
7767,IndiGo,15/04/2022,Ahmedabad,Bengaluru,18:35,23:00,1 stop via Goa,"₹ 6,177"
7768,IndiGo,15/04/2022,Ahmedabad,Bengaluru,08:50,13:10,1 stop via Hyderabad,"₹ 6,404"
7769,Vistara,15/04/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 9,750"

Lenght :  7770

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7788,IndiGo,30/04/2022,Ahmedabad,Bengaluru,20:50,01:00,1 stop via Hyderabad,"₹ 6,006"
7789,IndiGo,30/04/2022,Ahmedabad,Bengaluru,18:35,23:00,1 stop via Goa,"₹ 6,177"
7790,IndiGo,30/04/2022,Ahmedabad,Bengaluru,23:15,03:40,1 stop via Goa,"₹ 6,177"
7791,Vistara,30/04/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 7,115"
7792,SpiceJet,30/04/2022,Ahmedabad,Bengaluru,16:20,17:05,1 stop via Pune,"₹ 14,824"

Lenght :  7793

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7809,IndiGo,15/05/2022,Ahmedabad,Bengaluru,08:50,13:10,1 stop via Hyderabad,"₹ 6,006"
7810,IndiGo,15/05/2022,Ahmedabad,Bengaluru,20:50,01:00,1 stop via Hyderabad,"₹ 6,006"
7811,IndiGo,15/05/2022,Ahmedabad,Bengaluru,18:35,23:00,1 stop via Goa,"₹ 6,177"
7812,IndiGo,15/05/2022,Ahmedabad,Bengaluru,23:15,03:40,1 stop via Goa,"₹ 6,177"
7813,Vistara,15/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 7,314"

Lenght :  7814

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7834,IndiGo,31/05/2022,Ahmedabad,Bengaluru,03:05,08:50,1 stop via Pune,"₹ 5,534"
7835,IndiGo,31/05/2022,Ahmedabad,Bengaluru,20:50,02:30,1 stop via Pune,"₹ 5,534"
7836,IndiGo,31/05/2022,Ahmedabad,Bengaluru,06:45,11:15,1 stop via Mumbai,"₹ 5,706"
7837,SpiceJet,31/05/2022,Ahmedabad,Bengaluru,10:40,17:05,1 stop via Pune,"₹ 5,898"
7838,Vistara,31/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 7,314"

Lenght :  7839

-----Skiped-----

origin = AMD
dest = GOI

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-01/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7859,Go First,01/03/2022,Ahmedabad,Goa,19:00,23:25,1 stop via Mumbai,"₹ 7,972"
7860,SpiceJet,01/03/2022,Ahmedabad,Goa,05:05,13:25,1 stop via Pune,"₹ 8,572"
7861,Vistara,01/03/2022,Ahmedabad,Goa,06:45,21:20,1 stop via New Delhi,"₹ 11,579"
7862,IndiGo,01/03/2022,Ahmedabad,Goa,21:20,22:55,Non stop,"₹ 11,781"
7863,Air India,01/03/2022,Ahmedabad,Goa,18:00,00:35,1 stop via New Delhi,"₹ 15,615"

Lenght :  7864

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-16/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7881,Go First,16/03/2022,Ahmedabad,Goa,07:10,12:45,1 stop via Mumbai,"₹ 10,730"
7882,IndiGo,16/03/2022,Ahmedabad,Goa,08:35,14:05,1 stop via Bengaluru,"₹ 11,456"
7883,IndiGo,16/03/2022,Ahmedabad,Goa,18:45,23:35,1 stop via Hyderabad,"₹ 12,826"
7884,IndiGo,16/03/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 13,739"
7885,"Air India, AirAsia",16/03/2022,Ahmedabad,Goa,19:35,00:35,1 stop via Mumbai,"₹ 13,777"

Lenght :  7886

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-31/03/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7899,Air India,31/03/2022,Ahmedabad,Goa,21:00,06:20,1 stop via Mumbai,"₹ 5,472"
7900,IndiGo,31/03/2022,Ahmedabad,Goa,22:50,06:40,1 stop via Hyderabad,"₹ 5,975"
7901,IndiGo,31/03/2022,Ahmedabad,Goa,06:45,12:40,1 stop via Mumbai,"₹ 6,071"
7902,IndiGo,31/03/2022,Ahmedabad,Goa,20:50,01:30,1 stop via Pune,"₹ 6,403"
7903,Vistara,31/03/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 9,990"

Lenght :  7904

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-15/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7921,IndiGo,15/04/2022,Ahmedabad,Goa,06:45,12:40,1 stop via Mumbai,"₹ 6,544"
7922,"IndiGo, Air India",15/04/2022,Ahmedabad,Goa,08:50,14:45,1 stop via Mumbai,"₹ 6,561"
7923,IndiGo,15/04/2022,Ahmedabad,Goa,08:50,13:50,1 stop via Hyderabad,"₹ 6,622"
7924,IndiGo,15/04/2022,Ahmedabad,Goa,20:35,01:55,1 stop via Bengaluru,"₹ 6,841"
7925,Vistara,15/04/2022,Ahmedabad,Goa,06:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 12,496"

Lenght :  7926

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-30/04/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 33
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7937,IndiGo,30/04/2022,Ahmedabad,Goa,08:50,15:25,1 stop via Mumbai,"₹ 5,062"
7938,IndiGo,30/04/2022,Ahmedabad,Goa,06:45,12:40,1 stop via Mumbai,"₹ 5,460"
7939,IndiGo,30/04/2022,Ahmedabad,Goa,20:50,01:30,1 stop via Pune,"₹ 5,773"
7940,Vistara,30/04/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 7,765"
7941,SpiceJet,30/04/2022,Ahmedabad,Goa,16:20,13:45,1 stop via Pune,"₹ 16,164"

Lenght :  7942

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-15/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7952,Go First,15/05/2022,Ahmedabad,Goa,09:25,16:45,1 stop via Mumbai,"₹ 5,210"
7953,IndiGo,15/05/2022,Ahmedabad,Goa,18:30,22:55,1 stop via Mumbai,"₹ 5,665"
7954,IndiGo,15/05/2022,Ahmedabad,Goa,20:50,01:30,1 stop via Pune,"₹ 5,773"
7955,IndiGo,15/05/2022,Ahmedabad,Goa,08:50,13:50,1 stop via Hyderabad,"₹ 6,224"
7956,Vistara,15/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 7,612"

Lenght :  7957

Required URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-31/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
page found ...
Scroll to bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightNo  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airlines,Travel_date,From,To,Departure time,Arrival time,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
2,AirAsia,01/03/2022,New Delhi,Mumbai,08:20,14:10,1 stop via Ranchi,"₹ 5,953"
3,AirAsia,01/03/2022,New Delhi,Mumbai,20:00,02:25,1 stop via Goa,"₹ 5,953"
4,AirAsia,01/03/2022,New Delhi,Mumbai,12:20,02:25,1 stop via Goa,"₹ 5,953"
...,...,...,...,...,...,...,...,...
7991,IndiGo,31/05/2022,Ahmedabad,Goa,08:50,18:15,1 stop via Mumbai,"₹ 6,003"
7992,Go First,31/05/2022,Ahmedabad,Goa,09:10,16:55,1 stop via Bengaluru,"₹ 7,290"
7993,Vistara,31/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 7,313"
7994,Go First,31/05/2022,Ahmedabad,Goa,22:20,13:20,1 stop via New Delhi,"₹ 7,493"
7995,Go First,31/05/2022,Ahmedabad,Goa,09:30,23:05,1 stop via New Delhi,"₹ 8,441"

Lenght :  7996

-----Skiped-----

origin = AMD
dest = AMD

for a in cities:
    for b in cities:
        if a!=b:
            source=driver.find_element(By.XPATH,"//div[@class='fsw_inputBox searchCity inactiveWidget activeWidget']/label/span")
            source.click()
            time.sleep(2)
            source.send_keys(a)
            time.sleep(2)
            
            destination=driver.find_element(By.XPATH,"//div[@class='fsw_inputBox searchToCity inactiveWidget activeWidget']/label/span")
            time.sleep(2)
            destination.send_keys(b)
            time.sleep(2)
            
            try:
                sear_btn=driver.find_element(By.XPATH,"//a[@class='primaryBtn font24 latoBold widgetSearchBtn ']")
                wait=WebDriverWait(driver, 10)
                wait.until(EC.visibility_of(sear_btn))
                sear_btn.click()
            except NoSuchElementException:
                pass